<a href="https://colab.research.google.com/github/DrShabirAhmad/Code/blob/main/Intermediate_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def gradient(A,B):
  #A,B -> Two points in the XY-Plane in the form of tuple (x,y)
  x1, y1=A
  x2, y2=B
  m = (y2-y1)/(x2-x1)
  return round (m, 2)

In [ ]:
gradient((1,2), (3,4))

1.0

In [ ]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1 = Student(34,'A')
student1.age = 17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17

In [ ]:
class solution:
  def initial(self,sets):
    return self.final(sets)
 
  def final(self, sets):
    return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

In [ ]:
class football:
    final_res= 'lose'
    def __init__(self,name,score):
        self.name = name
        self.score = score
        self.final_res = 'lose'
    
    def calc(self, winning_score):
        if self.score>winning_score:
            self.final_res='win'
match = football('Juventus',3)
match.calc(2)
print(football.final_res, match.final_res)

lose win

In [ ]:
class A:
  def __init__(self, name):
    self.name = name
a = A("Shabir")

In [ ]:
class A:
  var = "Hello"
  def __init__(self, name):
    self.name = name
a = A("Shabir")

In [ ]:
A.var

'Hello'

In [ ]:
A.name

AttributeError: ignored

In [ ]:
a.var

'Hello'

In [ ]:
class Employee:
  company_name = "Scaler"

  def __init__(self, id, name):
    self.name= name
    self.id= id
e1= Employee(1, 'A')
print(e1.company_name)
print(e1.name)
print(e1.id)

Scaler
A
1

In [ ]:
e2= Employee(2, 'B')
print(e2.company_name)
print(e2.name)
print(e2.id)

Scaler
B
2

In [ ]:
Employee.company_name= "InterviewBit"
print(e1.company_name)
print(e2.company_name)

InterviewBit
InterviewBit

In [ ]:
e1.company_name= "Amazon"
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

InterviewBit
Amazon
InterviewBit

In [ ]:
class Employee:
  company_name = ["InterviewBit"] # List Sets Dictionary are mutable data

  def __init__(self, id, name):
    self.name= name
    self.id= id
e1= Employee(1, 'A')
e2= Employee(2, 'B')

In [ ]:
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

['InterviewBit']
['InterviewBit']
['InterviewBit']

In [ ]:
Employee.company_name.append("Interview")
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

['InterviewBit', 'Interview']
['InterviewBit', 'Interview']
['InterviewBit', 'Interview']

In [ ]:
e1.company_name.append("Scaler")
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

['InterviewBit', 'Interview', 'Scaler']
['InterviewBit', 'Interview', 'Scaler']
['InterviewBit', 'Interview', 'Scaler']

In [ ]:
#Therefore in case of mutable data types, it doesnot matter where the change is updated, it will be reflected everywhere. 
#but in case of immutable data types, the change will not be reflected everywhere if object is updated. 
#We should alwayas update class, therefore the requisite will be reflected everywhere. that is a good practice.

In [ ]:
#polymorphism in python
1+2 # addition

3

In [ ]:
'a'+'b' #concatenation, operator + behaves differently in different data types.

'ab'

In [ ]:
[1,2,3] +[4]

[1, 2, 3, 4]

In [ ]:
class DSMLInstructor:
  def teaches(self):
    print("Instructor teaches DS and ML")
  
class AcademyInstructor:
  def teaches(self):
    print("Instructor teaches software development")

t1=DSMLInstructor()
t2=AcademyInstructor()

t1.teaches()

Instructor teaches DS and ML

In [ ]:
t2.teaches()

Instructor teaches software development

In [ ]:
# the teaches method here shows polymorphism

In [ ]:
# Magic Methods

In [ ]:
class DSMLInstructor:
  def __init__(self):
    print("creating class")
  def teaches(self):
    print("Instructor teaches DS and ML")

t1=DSMLInstructor()
dir(t1)

creating class

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'teaches']

In [ ]:
class DSMLInstructor:
  def teaches(self):
    print("Instructor teaches DS and ML")

t1=DSMLInstructor()
print(t1)

<__main__.DSMLInstructor object at 0x7fcd335ea0a0>

In [ ]:
class DSMLInstructor:
  def __init__(self, name):
    self.name = name

  def teaches(self, name):
    print("Instructor teaches DS and ML")

t1=DSMLInstructor("Shabir")
print(t1)

<__main__.DSMLInstructor object at 0x7fcd3355e4f0>

In [ ]:
class DSMLInstructor:
  def __init__(self, name):
    self.name = name

  def teaches(self, name):
    print("Instructor teaches DS and ML")
  
  def __str__(self):
    return "Instructor name is : " + self.name

t1=DSMLInstructor("Shabir")
print(t1)

Instructor name is : Shabir

In [ ]:
class DSMLInstructor:
  def __init__(self, name):
    self.name = name

  def teaches(self, name):
    print("Instructor teaches DS and ML")
  
  def __eq__(self, other_object):
    return self.name==other_object.name

t1=DSMLInstructor("Shabir")
t2=DSMLInstructor("Shabir")

In [ ]:
t1==t2

True

In [ ]:
t3=DSMLInstructor("Sachin")
t4=DSMLInstructor("Shabir")
t3==t4

False

In [ ]:
class DSMLInstructor:
  def __init__(self, num):
    self.num = num
  
  def __lt__(self, other_object):
    return self.num==other_object.num

num1=15
num2=20
num1ltnum2

NameError: ignored

In [ ]:
class Parent:
  def __init__(self):
    print("Inside Parent class")

class Child(Parent):
  def __init__(self):
    print("Inside Child class")

p1 = Parent()

Inside Parent class

In [ ]:
c1 = Child()

Inside Child class

In [ ]:
class Parent:
  def __init__(self):
    print("Inside Parent class")

class Child(Parent):
  def __init__(self):
    Parent.__init__(self)
    print("Inside Child class")

c1 = Child()

Inside Parent class
Inside Child class

In [ ]:
class Parent:
  def __init__(self):
    print("Inside Parent class")

class Child(Parent):
  def __init__(self):
    super().__init__()
    print("Inside Child class")

c1 = Child()

Inside Parent class
Inside Child class

In [ ]:
class ScalerMember:
  def __init__(self, name):
    self.name = name
class Student(ScalerMember):
  def __init__(self, name, batch):
    super().__init__(name)
    self.batch = batch
class StaffMember(ScalerMember):
  def __init__(self, name, salary):
    super().__init__(name)
    self.salary = salary
class Teachers(StaffMember):
  def __init__(self, name, salary, subject):
    super().__init__(name, salary)
    self.subject = subject

st1 = Student("Shabir", "Nov 22")

In [ ]:
st1.name

'Shabir'

In [ ]:
st1.batch

'Nov 22'

In [ ]:
Tec1 = Teachers("Sachin", 10, "DSML")

In [ ]:
Tec1.salary

10

In [ ]:
Tec1.subject

'DSML'

In [ ]:
Tec1.name

'Sachin'

In [ ]:
t1 = Teachers("Sachin", 10, "DSML")
print(t1.name, t1.salary, t1.subject)

Sachin 10 DSML

In [ ]:
class Smaller:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        # YOUR CODE GOES HERE
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each in vowels]
        ans=len(final)
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
       # YOUR CODE GOES HERE
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each not in vowels]
        ans=len(final)
        print(ans)

def main(a):
    """
    input a is string
    """
    a = input()
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

In [ ]:
main("a")

Shabir
The type of Name is larger
4

In [ ]:
main("a")

Ahmad
The type of Name is smaller
2

In [ ]:
class Smaller:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each in vowels]
        ans = len(final) 
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each not in vowels]
        ans = len(final)
        # YOUR CODE GOES HERE
        print(ans)

def main(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=larger(a)
        obj.display()
        obj.evaluate()

In [ ]:
main("a")

Shabir
The type of Name is larger
4

In [ ]:
main("a")

Samia
The type of Name is smaller
3

In [ ]:
class Circle:
    pi = 3.14
    def __init__(self, diameter):
        self.radius = diameter / 2

    def circumference(self):
        return 2 * self.pi * self.radius

In [ ]:
pizza = Circle(12)
print(pizza.circumference())

37.68

In [ ]:
pizza = Circle(12)
print(pizza.self.circumference())

AttributeError: ignored

In [ ]:
pizza = Circle(6)
print(pizza.circumference())

18.84

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10) 
Student.subject_name = 'Machine Learning'
#_____________________#blank1
#_____________________#blank2

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10) 
s1.subject_name = 'Machine Learning'
#_____________________#blank1
#_____________________#blank2

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10) #No change required

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Math for Machine Learning

In [ ]:
def dist(p1, p2): # (x1, y1), (x2, y2)
  # |x1-x2| + |y1-y2|
  d = abs(p1[0]-p2[0]) + abs(p1[1]-p2[1])
  return d

In [ ]:
dist((1,2),(5,4))

6

In [ ]:
def dist(p1, p2): # (x1, y1), (x2, y2)
  # |x1-x2| + |y1-y2|
  d = abs(p1[0]-p2[0]) + abs(p1[1]-p2[1])
  return d
def neareststudents(names, loc):
  min_dist = float('inf')
  n = len(names)
  ans = [None, None]
  for FirstIndex in range(n):
    for SecondIndex in range(n):
      if FirstIndex==SecondIndex:
        continue
      else:
        if dist(loc[FirstIndex], loc[SecondIndex]) < min_dist:
          min_dist = dist(loc[FirstIndex], loc[SecondIndex])
          ans=[names[FirstIndex], names[SecondIndex]]
  return ans

In [ ]:
names= ["Shabir", "Samia", "Mohtashim", "Muqsit", "Muwahid"]
loc = [(1,2),(2,3), (4,5), (6,8), (0,1)]
neareststudents(names, loc)

['Shabir', 'Samia']

In [ ]:
names= ["Shabir", "Samia", "Mohtashim", "Muqsit", "Muwahid"]
loc = [(1,2),(4,4), (4,5), (6,8), (0,1)]
neareststudents(names, loc)

['Samia', 'Mohtashim']

In [ ]:
def dist(p1, p2): # (x1, y1), (x2, y2)
  # |x1-x2| + |y1-y2|
  d = abs(p1[0]-p2[0]) + abs(p1[1]-p2[1])
  return d
def neareststudents(names, loc):
  min_dist = float('inf')
  n = len(names)
  ans = [None, None]
  for FirstIndex in range(n):
    for SecondIndex in range(FirstIndex+1, n):
      if dist(loc[FirstIndex], loc[SecondIndex]) < min_dist:
        min_dist = dist(loc[FirstIndex], loc[SecondIndex])
        ans=[names[FirstIndex], names[SecondIndex]]
  return ans
names= ["Shabir", "Samia", "Mohtashim", "Muqsit", "Muwahid"]
loc = [(1,2),(4,4), (4,5), (6,8), (0,1)]
neareststudents(names, loc)

['Samia', 'Mohtashim']

In [ ]:
class First():
  def __init__(self):
    print("First")

class Second(First):
  def __init__(self):
    print("Second")
class Third(First):
  def __init__(self):
    print("Third")
    def run_this(self):
      print("this runs in world")
class Fourth(Second,Third):
  def __init__(self):
    super().__init__()
print(Fourth())

Second
<__main__.Fourth object at 0x7f36f695e550>

In [ ]:
print(Fourth.__mro__)

(<class '__main__.Fourth'>, <class '__main__.Second'>, <class '__main__.Third'>, <class '__main__.First'>, <class 'object'>)

In [ ]:
class myClass:
  def __init__(self):
    self.instance_var = "hi"
    def method(self):
      print("hi from method 1")

myInstance = myClass()

In [ ]:
class MachineLearning:
    def __init__(self,name,category):
        self.name=name
        self.category=category
        
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category
        
    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

class Supervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
        #YOUR CODE GOES HERE
        
    
    def type(self):
        #YOUR CODE GOES HERE
        super().print()
        print("Supervised Learning Algorithm")
        

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        super().__init__(name, category)
        
    
    def type(self):
        #YOUR CODE GOES HERE
        super().print()
        print("Unsupervised Learning Algorithm")
        

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''

    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

In [ ]:
a = "Logistic Regression"
b = "Classification Algo"
c = "k-Means"
d = "Clustering Algo"
mlAnalogy(a,b,c,d)

Name: Logistic Regression
Category: Classification Algo
Supervised Learning Algorithm
Name: k-Means
Category: Clustering Algo
Unsupervised Learning Algorithm

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name = name
    self.id = id
    self.balance = balance
ac1 = BankAccount("Shabir", 3863, 55000)

In [ ]:
print(ac1.id)

3863

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name = name
    self.id = id
    self.balance = balance

  def show_balance(self):
    return self.name + " has a balance of " +str(self.balance)

ac1 = BankAccount("Shabir", 3863, 55000)

In [ ]:
ac1.show_balance()

'Shabir has a balance of 55000'

In [ ]:
ac1.balance = 10000000

In [ ]:
ac1.balance

10000000

In [ ]:
ac1.show_balance()

'Shabir has a balance of 10000000'

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name = name
    self.id = id
    self.__balance = balance

  def show_balance(self):
    return self.name + " has a balance of " +str(self.__balance)

ac1 = BankAccount("Shabir", 3863, 55000)

In [ ]:
print(ac1.balance)

AttributeError: ignored

In [ ]:
ac1.show_balance()

'Shabir has a balance of 55000'

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name = name
    self.id = id
    self.__balance = balance

  def show_balance(self):
    return self.name + " has a balance of " +str(self.__balance)

  def deposit(self, amount):
    self.__balance += amount

ac1 = BankAccount("Shabir", 3863, 55000)

In [ ]:
ac1.deposit(99)
ac1.show_balance()

'Shabir has a balance of 55198'

In [ ]:
ac1.__dict__

{'name': 'Shabir', 'id': 3863, '_BankAccount__balance': 55198}

In [ ]:
ac1._BankAccount__balance = 0

In [ ]:
ac1.show_balance()

'Shabir has a balance of 0'

In [ ]:
class A:
  x = 9

class B(A):
  x = 99

class C(B):
  x = 999

c = C()
print(c.x)

999

In [ ]:
class A:
  x = 9
  y = 100

class B(A):
  x = 99

class C(B):
  pass

c = C()
print(c.x)
print(c.y)

99
100

In [ ]:
class A:
  x = 9
  y = 100

class B:
  x = 99

class C(B, A):
  pass

c = C()
print(c.x)
print(c.y)

99
100

In [ ]:
class A:
  pass
class B(A):
  pass
class C(E):
  pass
class D(E):
  pass
class E(C,D):
  pass

NameError: ignored

In [ ]:
E.__mro__

NameError: ignored

In [ ]:
#Functional Programming
(lambda x: x*x)(7)

49

In [ ]:
(lambda x, y: x*y)(3, 4)

12

In [ ]:
a = (lambda x, y: x*y)(5, 7)

In [ ]:
print(a)

35

In [ ]:
print(a*2)

70

In [ ]:
a = (lambda x, y: x*y)

In [ ]:
a(7, 6)

42

In [ ]:
a(9, 5)

45

In [ ]:
b = (lambda x,y,z: x+y-z)

In [ ]:
b(3, 4, 5)

2

In [ ]:
func = lambda x: "Num is greater than 5" if x > 5 else "Num is less or equal to 5"

In [ ]:
func(5)

'Num is less or equal to 5'

In [ ]:
func = lambda x: "Num is greater tha 5" if x > 5 else "Num is smaller than 3" if x < 3 else "Num is between 3 and 5"

In [ ]:
func(4)

'Num is between 3 and 5'

In [ ]:
func(2)

'Num is smaller than 3'

In [ ]:
func(7)

'Num is greater tha 5'

In [ ]:
c = lambda x, y: [x*y, x+y, x-y, x/y]

In [ ]:
c(4, 2)

[8, 6, 2, 2.0]

In [ ]:
list = [[2, 3], [4, 2], [1, 9]]

In [ ]:
sorted(list)

[[1, 9], [2, 3], [4, 2]]

In [ ]:
sorted(list, key = lambda x:x[1])

[[4, 2], [2, 3], [1, 9]]

In [ ]:
(lambda x:x[1])([4, 2])

2

In [ ]:
(lambda x:x[1])([1, 9])

9

In [ ]:
students = [{"name": 'A', 'marks': 50},
            {"name": 'B', 'marks' : 100},
            {"name": 'C', 'marks' : 40},
            {"name": 'D', 'marks' : 80}]

In [ ]:
sorted(students, key = lambda x: x ['marks'])

[{'name': 'C', 'marks': 40},
 {'name': 'A', 'marks': 50},
 {'name': 'D', 'marks': 80},
 {'name': 'B', 'marks': 100}]

In [ ]:
sorted(students, key = lambda x: x ['marks'], reverse = True)

[{'name': 'B', 'marks': 100},
 {'name': 'D', 'marks': 80},
 {'name': 'A', 'marks': 50},
 {'name': 'C', 'marks': 40}]

In [ ]:
order = {"cust1" : 50, "cust2" : 90, "cust3" : 30, "cust4" : 80}

In [ ]:
sorted(order, key = lambda x:x ['value'], reverse = True)

TypeError: ignored

# New Section

In [ ]:
# Map Function
list = [1, 2, 3, 4, 5]
output = []
f = lambda x:x*x
for i in list:
  output.append(f(i))
output

[1, 4, 9, 16, 25]

In [ ]:
list1= [1, 2, 3]
list2= ['a', 'b', 'c']
print(list(zip(list1, list2)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
list1= [1, 2, 3]
list2= ['a', 'b', 'c']
print(dict(zip(list1, list2)))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
list1= [1, 2, 3]
list2= ['a', 'b', 'c']
print(set(zip(list1, list2)))

{(3, 'c'), (1, 'a'), (2, 'b')}

In [ ]:
list1= [1, 2, 3]
list2= ['a', 'b', 'c']
print(tuple(zip(list1, list2)))

((1, 'a'), (2, 'b'), (3, 'c'))

In [ ]:
list(map(list, zip(list1, list2)))

[[1, 'a'], [2, 'b'], [3, 'c']]

In [ ]:
list1= [1, 2, 3, 4, 5]
list2= ['a', 'b', 'c']
print(list(zip(list1, list2)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
list1= [1, 2, 3, 4]
list2= ['a', 'b', 'c', 'd', 'e']
print(list(zip(list1, list2)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
list1= [1, 2, 3, 3]
list2= ['a', 'b', 'c', 'd', 'e']
print(list(zip(list1, list2)))

[(1, 'a'), (2, 'b'), (3, 'c'), (3, 'd')]

In [ ]:
def gen_fun(x, y):
  def add(x, y):
    return x+y
  return add
gen_fun(3, 2)

In [ ]:
def gen_exp(n):
  def exp(x):
    return x**n
  return exp
gen_exp(3)

In [ ]:
def exp_5(x):
  return x**5
exp_5(2)

32

In [ ]:
def exp_6(x):
  return x**6
exp_6(2)

64

In [ ]:
def gen_exp(n):
  def exp(x):
    return x**n
  return exp
gen_exp(5)

In [ ]:
type(gen_exp(5))

function

In [ ]:
def gen_exp(n):
  def exp(x):
    return x**n
  return exp
gen_exp(5)

In [ ]:
gen_exp(5)(3) # gen_exp(n)(x)

243

In [ ]:
gen_exp(5)(2)

32

In [ ]:
gen_exp(4)(2)

16

In [ ]:
gen_exp(4)(4)

256

In [ ]:
# Add function
def create_add(x):
  def add_x(y):
    return x+y
  return add_x

In [ ]:
create_add(5)(3)

8

In [ ]:
create_add(7)(8)

15

In [ ]:
def foo():
  print("Hi how are you")

In [ ]:
foo()

Hi how are you

In [ ]:
def bar():
  print("Nov22 Mon is my favorite batch")

In [ ]:
bar()

Nov22 Mon is my favorite batch

In [ ]:
def foo():
  print("_"*50)
  print("Hi How Are You")
  print("_"*50)

In [ ]:
foo()

__________________________________________________
Hi How Are You
__________________________________________________

In [ ]:
def bar():
  print("*"*50)
  print("Nov22 Monday is my favorite batch")
  print("*"*50)

In [ ]:
bar()

**************************************************
Nov22 Monday is my favorite batch
**************************************************

In [ ]:
def add_stars(func):
  def inner():
    print("*"*50)
    func()
    print("_"*50)
  return inner()

In [ ]:
def bar():
  print("Nov22 Monday is my favorite batch")

In [ ]:
bar()

Nov22 Monday is my favorite batch

In [ ]:
@add_stars
def bar():
  print("Nov22 Monday is my favorite batch")

**************************************************
Nov22 Monday is my favorite batch
__________________________________________________

In [ ]:
def zipzap():
  print("I do zip zap")
zipzap()

I do zip zap

In [ ]:
new_zipzap = add_stars(zipzap)

**************************************************
I do zip zap
__________________________________________________

In [ ]:
@add_stars
def print_hw():
  print("Hello World")
print_hw

**************************************************
Hello World
__________________________________________________

In [ ]:
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

for i in result:
    if odd(i):
        continue       
    else:
        print(i, end=" ")

0 2 4 6 8

In [ ]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result())

(1, 4)

In [ ]:
def LengthSequence(string, length):
    '''string => a string
       length => an integer representing required length of words which are be returned'''
    words = string.split()
    length_words = []
    result= []
    for i in words:
        length_words.append(len(i))
    for i in range(len(length_words)):
        if length_words[i]==length:
            result.append(words[i])    

    return result

In [ ]:
LengthSequence("The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over", 5)

['world', 'start']

In [ ]:
def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student
    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    ''' 
    student_data = []
    second_low_score = 0
    for i in range(len(students)):
        student_data.append([students[i],scores[i]])
        order = sorted(student_data,key=lambda x: int(x[1]))
    for i in range(len(students)):
        if order[i][1] != order[0][1]:
            second_low_score=order[i][1]
            break
            second_names=[x[0] for x in order if x[1] == second_low_score]
    # Your code starts here
    return student_data, second_low_score, second_names

In [ ]:
second_lowest(('S ROY', 'B BOSE', 'N KAR', 'C DUTTA', 'G GHOSH'), (1, 3, 2, 1, 1))

UnboundLocalError: ignored

In [ ]:
def sort_strings(str_list):
  res = []
  for i in range(len(str_list)):
    sorted_list = sorted(str_list[i], key= lambda x: x.count('a'), reverse=True)
    res.append(sorted_list)
  return res
  #str_list-> nested list of strings
	# return the sorted list of strings on the basis of number of times ‘a’ occurs
	# code starts here

In [ ]:
sort_strings("("mango banana guava", "rose sandalwood", "bccc aaa baac c")")

SyntaxError: ignored

In [ ]:
def sort_strings(str_list):
  str_list.sort()
  res = sorted(str_list, key = len)
  return res
  #str_list-> list of strings
	# return the sorted list of strings on the basis of criteria mentioned
	# code starts here

In [ ]:
sort_strings("cccc", "b", "dd", "aaa")

TypeError: ignored

In [ ]:
# Day 41
with open("essay.txt","r") as f:
    count = 0
    data = f.read()  #A
    words =f.split() #B
    for word in words:
        count += 1
    print(count)

FileNotFoundError: ignored

In [ ]:
f = None 
for i in range (5): 
    with open("data.txt", "w") as f: 
        if i > 2: 
            break 
print(f.closed)

True

In [ ]:
#Day 40
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

4

In [ ]:
arr = ["php", "w3r", "python", "aaa", "java"]
result  = list( filter( lambda x: (x =="".join( reversed(x))), arr))
print(result)

['php', 'aaa']

In [ ]:
arr = ["php", "w3r", "python", "aaa", "java"]
result  = list(filter(lambda x: x in arr, str))
print(result)

TypeError: ignored

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, db_rows)) for row in db_rows]
print(db)

[{'name': ('Alice', 180000, 'data scientist'), 'salary': ('Bob', 99000, 'data engineer'), 'job': ('Frank', 87000, 'data analyst')}, {'name': ('Alice', 180000, 'data scientist'), 'salary': ('Bob', 99000, 'data engineer'), 'job': ('Frank', 87000, 'data analyst')}, {'name': ('Alice', 180000, 'data scientist'), 'salary': ('Bob', 99000, 'data engineer'), 'job': ('Frank', 87000, 'data analyst')}]

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(db_rows, column_names)) for row in db_rows]
print(db)

[{('Alice', 180000, 'data scientist'): 'name', ('Bob', 99000, 'data engineer'): 'salary', ('Frank', 87000, 'data analyst'): 'job'}, {('Alice', 180000, 'data scientist'): 'name', ('Bob', 99000, 'data engineer'): 'salary', ('Frank', 87000, 'data analyst'): 'job'}, {('Alice', 180000, 'data scientist'): 'name', ('Bob', 99000, 'data engineer'): 'salary', ('Frank', 87000, 'data analyst'): 'job'}]

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(row, column_names)) for row in db_rows]
print(db)

[{'Alice': 'name', 180000: 'salary', 'data scientist': 'job'}, {'Bob': 'name', 99000: 'salary', 'data engineer': 'job'}, {'Frank': 'name', 87000: 'salary', 'data analyst': 'job'}]

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

In [ ]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

In [ ]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

In [ ]:
array  = [1, 2, 3, 4, 5]
def func1(x):
    return x<0
result=filter(func1, array)
print(list(result))

[]

In [ ]:
list(filter(lambda x:x<0, array))

[]

In [ ]:
list(filter(lambda x, y: x<0,array))

TypeError: ignored

In [ ]:
list(filter(reduce x<0, array))

SyntaxError: ignored

In [ ]:
list(reduce(x: x<0, array))

SyntaxError: ignored

In [ ]:
def is_valid(email):
    email = email.split("@")
    if len(email) != 2:
        return False
    if len(email[0]) > 20:
        return False
    return True
def check(emails):
    '''
    input:
    emails -> list of emails to check
    output:
    verified_lex -> the verified list of emails, in lexicographical order
    '''
    verified_lex = []
    for email in emails:
        if is_valid(email):
            verified_lex.append(email)
    verified_lex = sorted(verified_lex)
    return verified_lex

In [ ]:
check("sara@scaler.com, brian-23@scaler.com, brute_54@scaler.com")

['@', '@', '@']

In [5]:
students = ['a', 'b', 'c', 'd']
score = [1, 2, 3, 4]
dict(zip(students, score))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [6]:
set(zip(students, score))

{('a', 1), ('b', 2), ('c', 3), ('d', 4)}

In [7]:
tuple(zip(students, score))

(('a', 1), ('b', 2), ('c', 3), ('d', 4))

In [9]:
list(zip(students, score))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [10]:
# evaluate() printing the number of vowels if the Name is Smaller otherwise it prints the number of consonants."

name = "Sachini"
name = set(name)
vowel_count = len(list(filter(lambda x :x in 'aeiouAEIOU',name )))
vowel_count

2

In [11]:
const_count =len(name)- vowel_count
const_count

4

In [12]:
#[['S ROY', 1.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]
def second_lowest(students, scores):
    
    student_data, second_low_score, second_names = None, None, None
    
    # Your code starts here
    
    
    # Your code ends here
    return student_data, second_low_score, second_name

In [13]:
students = ["S ROY" , "B BOSE" ,"N KAR" , "C DUTTA" ,"G GHOSH", "B KAR"]
scores = [1 , 3 ,2, 1 , 1, 2]
dict(zip(students,scores ))

{'S ROY': 1, 'B BOSE': 3, 'N KAR': 2, 'C DUTTA': 1, 'G GHOSH': 1, 'B KAR': 2}

In [15]:
students = ["S ROY" , "B BOSE" ,"N KAR" , "C DUTTA" ,"G GHOSH", "B KAR"]
scores = [1 , 3 ,2, 1 , 1, 2]

In [16]:
list(zip(students,scores))

[('S ROY', 1),
 ('B BOSE', 3),
 ('N KAR', 2),
 ('C DUTTA', 1),
 ('G GHOSH', 1),
 ('B KAR', 2)]

In [17]:
student_data = list(map(list,zip(students,scores))) # line 1
student_data

[['S ROY', 1],
 ['B BOSE', 3],
 ['N KAR', 2],
 ['C DUTTA', 1],
 ['G GHOSH', 1],
 ['B KAR', 2]]

In [18]:
# second step to get second lowest marks
second_low_score = sorted(list(set(scores)))[1] # line 2
second_low_score

2

In [19]:
list(filter(lambda x : x[1]==second_low_score, student_data ))

[['N KAR', 2], ['B KAR', 2]]

In [20]:
list(map(lambda x: x[0], list(filter(lambda x : x[1]==second_low_score, student_data )))) # line 3

['N KAR', 'B KAR']