<a href="https://colab.research.google.com/github/DrShabirAhmad/Code/blob/main/Intermediate_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def gradient(A,B):
  #A,B -> Two points in the XY-Plane in the form of tuple (x,y)
  x1, y1=A
  x2, y2=B
  m = (y2-y1)/(x2-x1)
  return round (m, 2)

In [ ]:
gradient((1,2), (3,4))

1.0

In [ ]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1 = Student(34,'A')
student1.age = 17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17

In [ ]:
class solution:
  def initial(self,sets):
    return self.final(sets)
 
  def final(self, sets):
    return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

In [ ]:
class football:
    final_res= 'lose'
    def __init__(self,name,score):
        self.name = name
        self.score = score
        self.final_res = 'lose'
    
    def calc(self, winning_score):
        if self.score>winning_score:
            self.final_res='win'
match = football('Juventus',3)
match.calc(2)
print(football.final_res, match.final_res)

lose win

In [ ]:
class A:
  def __init__(self, name):
    self.name = name
a = A("Shabir")

In [ ]:
class A:
  var = "Hello"
  def __init__(self, name):
    self.name = name
a = A("Shabir")

In [ ]:
A.var

'Hello'

In [ ]:
A.name

AttributeError: ignored

In [ ]:
a.var

In [ ]:
class Employee:
  company_name = "Scaler"

  def __init__(self, id, name):
    self.name= name
    self.id= id
e1= Employee(1, 'A')
print(e1.company_name)
print(e1.name)
print(e1.id)

In [ ]:
e2= Employee(2, 'B')
print(e2.company_name)
print(e2.name)
print(e2.id)

In [ ]:
Employee.company_name= "InterviewBit"
print(e1.company_name)
print(e2.company_name)

In [ ]:
e1.company_name= "Amazon"
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

In [ ]:
class Employee:
  company_name = ["InterviewBit"] # List Sets Dictionary are mutable data

  def __init__(self, id, name):
    self.name= name
    self.id= id
e1= Employee(1, 'A')
e2= Employee(2, 'B')

In [ ]:
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

In [ ]:
Employee.company_name.append("Interview")
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

In [ ]:
e1.company_name.append("Scaler")
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

In [ ]:
#Therefore in case of mutable data types, it doesnot matter where the change is updated, it will be reflected everywhere. 
#but in case of immutable data types, the change will not be reflected everywhere if object is updated. 
#We should alwayas update class, therefore the requisite will be reflected everywhere. that is a good practice.

In [ ]:
#polymorphism in python
1+2 # addition

In [ ]:
'a'+'b' #concatenation, operator + behaves differently in different data types.

In [ ]:
[1,2,3] +[4]

In [ ]:
class DSMLInstructor:
  def teaches(self):
    print("Instructor teaches DS and ML")
  
class AcademyInstructor:
  def teaches(self):
    print("Instructor teaches software development")

t1=DSMLInstructor()
t2=AcademyInstructor()

t1.teaches()

In [ ]:
t2.teaches()

In [ ]:
# the teaches method here shows polymorphism

In [ ]:
# Magic Methods

In [ ]:
class DSMLInstructor:
  def __init__(self):
    print("creating class")
  def teaches(self):
    print("Instructor teaches DS and ML")

t1=DSMLInstructor()
dir(t1)

In [ ]:
class DSMLInstructor:
  def teaches(self):
    print("Instructor teaches DS and ML")

t1=DSMLInstructor()
print(t1)

In [ ]:
class DSMLInstructor:
  def __init__(self, name):
    self.name = name

  def teaches(self, name):
    print("Instructor teaches DS and ML")

t1=DSMLInstructor("Shabir")
print(t1)

In [ ]:
class DSMLInstructor:
  def __init__(self, name):
    self.name = name

  def teaches(self, name):
    print("Instructor teaches DS and ML")
  
  def __str__(self):
    return "Instructor name is : " + self.name

t1=DSMLInstructor("Shabir")
print(t1)

In [ ]:
class DSMLInstructor:
  def __init__(self, name):
    self.name = name

  def teaches(self, name):
    print("Instructor teaches DS and ML")
  
  def __eq__(self, other_object):
    return self.name==other_object.name

t1=DSMLInstructor("Shabir")
t2=DSMLInstructor("Shabir")

In [ ]:
t1==t2

In [ ]:
t3=DSMLInstructor("Sachin")
t4=DSMLInstructor("Shabir")
t3==t4

In [ ]:
class DSMLInstructor:
  def __init__(self, num):
    self.num = num
  
  def __lt__(self, other_object):
    return self.num==other_object.num

num1=15
num2=20
num1ltnum2

In [ ]:
class Parent:
  def __init__(self):
    print("Inside Parent class")

class Child(Parent):
  def __init__(self):
    print("Inside Child class")

p1 = Parent()

In [ ]:
c1 = Child()

In [ ]:
class Parent:
  def __init__(self):
    print("Inside Parent class")

class Child(Parent):
  def __init__(self):
    Parent.__init__(self)
    print("Inside Child class")

c1 = Child()

In [ ]:
class Parent:
  def __init__(self):
    print("Inside Parent class")

class Child(Parent):
  def __init__(self):
    super().__init__()
    print("Inside Child class")

c1 = Child()

In [ ]:
class ScalerMember:
  def __init__(self, name):
    self.name = name
class Student(ScalerMember):
  def __init__(self, name, batch):
    super().__init__(name)
    self.batch = batch
class StaffMember(ScalerMember):
  def __init__(self, name, salary):
    super().__init__(name)
    self.salary = salary
class Teachers(StaffMember):
  def __init__(self, name, salary, subject):
    super().__init__(name, salary)
    self.subject = subject

st1 = Student("Shabir", "Nov 22")

In [ ]:
st1.name

In [ ]:
st1.batch

In [ ]:
Tec1 = Teachers("Sachin", 10, "DSML")

In [ ]:
Tec1.salary

In [ ]:
Tec1.subject

In [ ]:
Tec1.name

In [ ]:
t1 = Teachers("Sachin", 10, "DSML")
print(t1.name, t1.salary, t1.subject)

In [ ]:
class Smaller:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        # YOUR CODE GOES HERE
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each in vowels]
        ans=len(final)
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
       # YOUR CODE GOES HERE
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each not in vowels]
        ans=len(final)
        print(ans)

def main(a):
    """
    input a is string
    """
    a = input()
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

In [ ]:
main("a")

In [ ]:
main("a")

In [ ]:
class Smaller:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each in vowels]
        ans = len(final) 
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each not in vowels]
        ans = len(final)
        # YOUR CODE GOES HERE
        print(ans)

def main(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=larger(a)
        obj.display()
        obj.evaluate()

In [ ]:
main("a")

In [ ]:
main("a")

In [ ]:
class Circle:
    pi = 3.14
    def __init__(self, diameter):
        self.radius = diameter / 2

    def circumference(self):
        return 2 * self.pi * self.radius

In [ ]:
pizza = Circle(12)
print(pizza.circumference())

In [ ]:
pizza = Circle(12)
print(pizza.self.circumference())

In [ ]:
pizza = Circle(6)
print(pizza.circumference())

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10) 
Student.subject_name = 'Machine Learning'
#_____________________#blank1
#_____________________#blank2

print(s1.name, s1.roll_no, s1.subject_name)

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10) 
s1.subject_name = 'Machine Learning'
#_____________________#blank1
#_____________________#blank2

print(s1.name, s1.roll_no, s1.subject_name)

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10) #No change required

print(s1.name, s1.roll_no, s1.subject_name)

In [ ]:
def dist(p1, p2): # (x1, y1), (x2, y2)
  # |x1-x2| + |y1-y2|
  d = abs(p1[0]-p2[0]) + abs(p1[1]-p2[1])
  return d

In [ ]:
dist((1,2),(5,4))

In [ ]:
def dist(p1, p2): # (x1, y1), (x2, y2)
  # |x1-x2| + |y1-y2|
  d = abs(p1[0]-p2[0]) + abs(p1[1]-p2[1])
  return d
def neareststudents(names, loc):
  min_dist = float('inf')
  n = len(names)
  ans = [None, None]
  for FirstIndex in range(n):
    for SecondIndex in range(n):
      if FirstIndex==SecondIndex:
        continue
      else:
        if dist(loc[FirstIndex], loc[SecondIndex]) < min_dist:
          min_dist = dist(loc[FirstIndex], loc[SecondIndex])
          ans=[names[FirstIndex], names[SecondIndex]]
  return ans

In [ ]:
names= ["Shabir", "Samia", "Mohtashim", "Muqsit", "Muwahid"]
loc = [(1,2),(2,3), (4,5), (6,8), (0,1)]
neareststudents(names, loc)

In [ ]:
names= ["Shabir", "Samia", "Mohtashim", "Muqsit", "Muwahid"]
loc = [(1,2),(4,4), (4,5), (6,8), (0,1)]
neareststudents(names, loc)

In [ ]:
def dist(p1, p2): # (x1, y1), (x2, y2)
  # |x1-x2| + |y1-y2|
  d = abs(p1[0]-p2[0]) + abs(p1[1]-p2[1])
  return d
def neareststudents(names, loc):
  min_dist = float('inf')
  n = len(names)
  ans = [None, None]
  for FirstIndex in range(n):
    for SecondIndex in range(FirstIndex+1, n):
      if dist(loc[FirstIndex], loc[SecondIndex]) < min_dist:
        min_dist = dist(loc[FirstIndex], loc[SecondIndex])
        ans=[names[FirstIndex], names[SecondIndex]]
  return ans
names= ["Shabir", "Samia", "Mohtashim", "Muqsit", "Muwahid"]
loc = [(1,2),(4,4), (4,5), (6,8), (0,1)]
neareststudents(names, loc)

In [ ]:
class First():
  def __init__(self):
    print("First")

class Second(First):
  def __init__(self):
    print("Second")
class Third(First):
  def __init__(self):
    print("Third")
    def run_this(self):
      print("this runs in world")
class Fourth(Second,Third):
  def __init__(self):
    super().__init__()
print(Fourth())

In [ ]:
print(Fourth.__mro__)

In [ ]:
class myClass:
  def __init__(self):
    self.instance_var = "hi"
    def method(self):
      print("hi from method 1")

myInstance = myClass()

In [ ]:
class MachineLearning:
    def __init__(self,name,category):
        self.name=name
        self.category=category
        
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category
        
    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

class Supervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
        #YOUR CODE GOES HERE
        
    
    def type(self):
        #YOUR CODE GOES HERE
        super().print()
        print("Supervised Learning Algorithm")
        

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        super().__init__(name, category)
        
    
    def type(self):
        #YOUR CODE GOES HERE
        super().print()
        print("Unsupervised Learning Algorithm")
        

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''

    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

In [ ]:
a = "Logistic Regression"
b = "Classification Algo"
c = "k-Means"
d = "Clustering Algo"
mlAnalogy(a,b,c,d)

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name = name
    self.id = id
    self.balance = balance
ac1 = BankAccount("Shabir", 3863, 55000)

In [ ]:
print(ac1.id)

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name = name
    self.id = id
    self.balance = balance

  def show_balance(self):
    return self.name + " has a balance of " +str(self.balance)

ac1 = BankAccount("Shabir", 3863, 55000)

In [ ]:
ac1.show_balance()

In [ ]:
ac1.balance = 10000000

In [ ]:
ac1.balance

In [ ]:
ac1.show_balance()

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name = name
    self.id = id
    self.__balance = balance

  def show_balance(self):
    return self.name + " has a balance of " +str(self.__balance)

ac1 = BankAccount("Shabir", 3863, 55000)

In [ ]:
print(ac1.balance)

In [ ]:
ac1.show_balance()

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name = name
    self.id = id
    self.__balance = balance

  def show_balance(self):
    return self.name + " has a balance of " +str(self.__balance)

  def deposit(self, amount):
    self.__balance += amount

ac1 = BankAccount("Shabir", 3863, 55000)

In [ ]:
ac1.deposit(99)
ac1.show_balance()

In [ ]:
ac1.__dict__

In [ ]:
ac1._BankAccount__balance = 0

In [ ]:
ac1.show_balance()

In [ ]:
class A:
  x = 9

class B(A):
  x = 99

class C(B):
  x = 999

c = C()
print(c.x)

In [ ]:
class A:
  x = 9
  y = 100

class B(A):
  x = 99

class C(B):
  pass

c = C()
print(c.x)
print(c.y)

In [ ]:
class A:
  x = 9
  y = 100

class B:
  x = 99

class C(B, A):
  pass

c = C()
print(c.x)
print(c.y)

In [ ]:
class A:
  pass
class B(A):
  pass
class C(E):
  pass
class D(E):
  pass
class E(C,D):
  pass

In [ ]:
E.__mro__

In [ ]:
#Functional Programming
(lambda x: x*x)(7)

In [ ]:
(lambda x, y: x*y)(3, 4)

In [ ]:
a = (lambda x, y: x*y)(5, 7)

In [ ]:
print(a)

In [ ]:
print(a*2)

In [ ]:
a = (lambda x, y: x*y)

In [ ]:
a(7, 6)

In [ ]:
a(9, 5)

In [ ]:
b = (lambda x,y,z: x+y-z)

In [ ]:
b(3, 4, 5)

In [ ]:
func = lambda x: "Num is greater than 5" if x > 5 else "Num is less or equal to 5"

In [ ]:
func(5)

In [ ]:
func = lambda x: "Num is greater tha 5" if x > 5 else "Num is smaller than 3" if x < 3 else "Num is between 3 and 5"

In [ ]:
func(4)

In [ ]:
func(2)

In [ ]:
func(7)

In [ ]:
c = lambda x, y: [x*y, x+y, x-y, x/y]

In [ ]:
c(4, 2)

In [ ]:
list = [[2, 3], [4, 2], [1, 9]]

In [ ]:
sorted(list)

In [ ]:
sorted(list, key = lambda x:x[1])

In [ ]:
(lambda x:x[1])([4, 2])

In [ ]:
(lambda x:x[1])([1, 9])

In [ ]:
students = [{"name": 'A', 'marks': 50},
            {"name": 'B', 'marks' : 100},
            {"name": 'C', 'marks' : 40},
            {"name": 'D', 'marks' : 80}]

In [ ]:
sorted(students, key = lambda x: x ['marks'])

In [ ]:
sorted(students, key = lambda x: x ['marks'], reverse = True)

In [ ]:
order = {"cust1" : 50, "cust2" : 90, "cust3" : 30, "cust4" : 80}

In [ ]:
sorted(order, key = lambda x:x ['value'], reverse = True)

# New Section

In [ ]:
# Map Function
list = [1, 2, 3, 4, 5]
output = []
f = lambda x:x*x
for i in list:
  output.append(f(i))
output

In [ ]:
list1= [1, 2, 3]
list2= ['a', 'b', 'c']
print(list(zip(list1, list2)))

In [ ]:
list1= [1, 2, 3]
list2= ['a', 'b', 'c']
print(dict(zip(list1, list2)))

In [ ]:
list1= [1, 2, 3]
list2= ['a', 'b', 'c']
print(set(zip(list1, list2)))

In [ ]:
list1= [1, 2, 3]
list2= ['a', 'b', 'c']
print(tuple(zip(list1, list2)))

In [ ]:
list(map(list, zip(list1, list2)))

In [ ]:
list1= [1, 2, 3, 4, 5]
list2= ['a', 'b', 'c']
print(list(zip(list1, list2)))

In [ ]:
list1= [1, 2, 3, 4]
list2= ['a', 'b', 'c', 'd', 'e']
print(list(zip(list1, list2)))

In [ ]:
list1= [1, 2, 3, 3]
list2= ['a', 'b', 'c', 'd', 'e']
print(list(zip(list1, list2)))

In [ ]:
def gen_fun(x, y):
  def add(x, y):
    return x+y
  return add
gen_fun(3, 2)

In [ ]:
def gen_exp(n):
  def exp(x):
    return x**n
  return exp
gen_exp(3)

In [ ]:
def exp_5(x):
  return x**5
exp_5(2)

In [ ]:
def exp_6(x):
  return x**6
exp_6(2)

In [ ]:
def gen_exp(n):
  def exp(x):
    return x**n
  return exp
gen_exp(5)

In [ ]:
type(gen_exp(5))

In [ ]:
def gen_exp(n):
  def exp(x):
    return x**n
  return exp
gen_exp(5)

In [ ]:
gen_exp(5)(3) # gen_exp(n)(x)

In [ ]:
gen_exp(5)(2)

In [ ]:
gen_exp(4)(2)

In [ ]:
gen_exp(4)(4)

In [ ]:
# Add function
def create_add(x):
  def add_x(y):
    return x+y
  return add_x

In [ ]:
create_add(5)(3)

In [ ]:
create_add(7)(8)

In [ ]:
def foo():
  print("Hi how are you")

In [ ]:
foo()

In [ ]:
def bar():
  print("Nov22 Mon is my favorite batch")

In [ ]:
bar()

In [ ]:
def foo():
  print("_"*50)
  print("Hi How Are You")
  print("_"*50)

In [ ]:
foo()

In [ ]:
def bar():
  print("*"*50)
  print("Nov22 Monday is my favorite batch")
  print("*"*50)

In [ ]:
bar()

In [ ]:
def add_stars(func):
  def inner():
    print("*"*50)
    func()
    print("_"*50)
  return inner()

In [ ]:
def bar():
  print("Nov22 Monday is my favorite batch")

In [ ]:
bar()

In [ ]:
@add_stars
def bar():
  print("Nov22 Monday is my favorite batch")

In [ ]:
def zipzap():
  print("I do zip zap")
zipzap()

In [ ]:
new_zipzap = add_stars(zipzap)

In [ ]:
@add_stars
def print_hw():
  print("Hello World")
print_hw

In [ ]:
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

for i in result:
    if odd(i):
        continue       
    else:
        print(i, end=" ")

In [ ]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result())

In [ ]:
def LengthSequence(string, length):
    '''string => a string
       length => an integer representing required length of words which are be returned'''
    words = string.split()
    length_words = []
    result= []
    for i in words:
        length_words.append(len(i))
    for i in range(len(length_words)):
        if length_words[i]==length:
            result.append(words[i])    

    return result

In [ ]:
LengthSequence("The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over", 5)

In [ ]:
def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student
    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    ''' 
    student_data = []
    second_low_score = 0
    for i in range(len(students)):
        student_data.append([students[i],scores[i]])
        order = sorted(student_data,key=lambda x: int(x[1]))
    for i in range(len(students)):
        if order[i][1] != order[0][1]:
            second_low_score=order[i][1]
            break
            second_names=[x[0] for x in order if x[1] == second_low_score]
    # Your code starts here
    return student_data, second_low_score, second_names

In [ ]:
second_lowest(('S ROY', 'B BOSE', 'N KAR', 'C DUTTA', 'G GHOSH'), (1, 3, 2, 1, 1))

In [ ]:
def sort_strings(str_list):
  res = []
  for i in range(len(str_list)):
    sorted_list = sorted(str_list[i], key= lambda x: x.count('a'), reverse=True)
    res.append(sorted_list)
  return res
  #str_list-> nested list of strings
	# return the sorted list of strings on the basis of number of times ‘a’ occurs
	# code starts here

In [ ]:
sort_strings("("mango banana guava", "rose sandalwood", "bccc aaa baac c")")

In [ ]:
def sort_strings(str_list):
  str_list.sort()
  res = sorted(str_list, key = len)
  return res
  #str_list-> list of strings
	# return the sorted list of strings on the basis of criteria mentioned
	# code starts here

In [ ]:
sort_strings("cccc", "b", "dd", "aaa")

In [ ]:
# Day 41
with open("essay.txt","r") as f:
    count = 0
    data = f.read()  #A
    words =f.split() #B
    for word in words:
        count += 1
    print(count)

In [ ]:
f = None 
for i in range (5): 
    with open("data.txt", "w") as f: 
        if i > 2: 
            break 
print(f.closed)

In [ ]:
#Day 40
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

In [ ]:
arr = ["php", "w3r", "python", "aaa", "java"]
result  = list( filter( lambda x: (x =="".join( reversed(x))), arr))
print(result)

In [ ]:
arr = ["php", "w3r", "python", "aaa", "java"]
result  = list(filter(lambda x: x in arr, str))
print(result)

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, db_rows)) for row in db_rows]
print(db)

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(db_rows, column_names)) for row in db_rows]
print(db)

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(row, column_names)) for row in db_rows]
print(db)

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, row)) for row in db_rows]
print(db)

In [ ]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

In [ ]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

In [ ]:
array  = [1, 2, 3, 4, 5]
def func1(x):
    return x<0
result=filter(func1, array)
print(list(result))

In [ ]:
list(filter(lambda x:x<0, array))

In [ ]:
list(filter(lambda x, y: x<0,array))

In [ ]:
list(filter(reduce x<0, array))

In [ ]:
list(reduce(x: x<0, array))

In [ ]:
def is_valid(email):
    email = email.split("@")
    if len(email) != 2:
        return False
    if len(email[0]) > 20:
        return False
    return True
def check(emails):
    '''
    input:
    emails -> list of emails to check
    output:
    verified_lex -> the verified list of emails, in lexicographical order
    '''
    verified_lex = []
    for email in emails:
        if is_valid(email):
            verified_lex.append(email)
    verified_lex = sorted(verified_lex)
    return verified_lex

In [ ]:
check("sara@scaler.com, brian-23@scaler.com, brute_54@scaler.com")

In [ ]:
students = ['a', 'b', 'c', 'd']
score = [1, 2, 3, 4]
dict(zip(students, score))

In [ ]:
set(zip(students, score))

In [ ]:
tuple(zip(students, score))

In [ ]:
list(zip(students, score))

In [ ]:
# evaluate() printing the number of vowels if the Name is Smaller otherwise it prints the number of consonants."

name = "Sachini"
name = set(name)
vowel_count = len(list(filter(lambda x :x in 'aeiouAEIOU',name )))
vowel_count

In [ ]:
const_count =len(name)- vowel_count
const_count

In [ ]:
#[['S ROY', 1.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]
def second_lowest(students, scores):
    
    student_data, second_low_score, second_names = None, None, None
    
    # Your code starts here
    
    
    # Your code ends here
    return student_data, second_low_score, second_name

In [ ]:
students = ["S ROY" , "B BOSE" ,"N KAR" , "C DUTTA" ,"G GHOSH", "B KAR"]
scores = [1 , 3 ,2, 1 , 1, 2]
dict(zip(students,scores ))

In [ ]:
students = ["S ROY" , "B BOSE" ,"N KAR" , "C DUTTA" ,"G GHOSH", "B KAR"]
scores = [1 , 3 ,2, 1 , 1, 2]

In [ ]:
list(zip(students,scores))

In [ ]:
student_data = list(map(list,zip(students,scores))) # line 1
student_data

In [ ]:
# second step to get second lowest marks
second_low_score = sorted(list(set(scores)))[1] # line 2
second_low_score

In [ ]:
list(filter(lambda x : x[1]==second_low_score, student_data ))

In [ ]:
list(map(lambda x: x[0], list(filter(lambda x : x[1]==second_low_score, student_data )))) # line 3

In [ ]:
f = None 
for i in range (5): 
    with open("data.txt", "w") as f: 
        if i > 2: 
            break 
print(f.closed)

In [ ]:
import random

In [ ]:
def OTP():
  print(random.randint(100000, 999999))

In [ ]:
OTP()

In [ ]:
def Winner():
  print(random.randint(101, 110))

In [ ]:
Winner()

In [ ]:
import random

In [ ]:
print(random.randint(3,6))

In [ ]:
print(random.randrange(3, 6))

In [ ]:
print(random.choice([3, 6]))

In [ ]:
print(3 + random.randrange(3))

In [ ]:
print(random.randrange(3, 6))

In [ ]:
print(3 + random.randrange(3))

In [ ]:
print(3 + random.randrange(3))

In [ ]:
from math import factorial
print(math.factorial(5))

In [ ]:
from math import factorial

In [ ]:
print(math.factorial(5))

In [ ]:
print(3 + random.randrange(4))

In [ ]:
import random

array = list(range(100))
random.shuffle(array)
while len(array) != 0:
      print(array.pop())

87
60
92
33
55
20
76
31
64
67
63
14
23
49
51
7
39
45
35
5
40
79
22
13
61
3
86
94
88
4
57
77
38
73
70
16
28
8
89
68
17
95
81
26
91
41
84
37
12
42
78
90
2
1
58
52
82
99
65
19
50
48
34
66
44
0
59
83
18
71
72
32
25
98
43
10
53
54
46
47
30
85
11
9
15
56
80
75
93
74
36
21
96
27
6
97
29
24
69
62

In [ ]:
import math
result = 1
for i in range(1,7):
     result += 1/(math.factorial(i))#blank1
print(round(result,2))

2.72

In [ ]:
import math
result = 1
for i in range(1,7):
     result += 1/(math.pow(i,1))#blank1
print(round(result,2))

3.45

In [ ]:
import math
result = 1
for i in range(1,7):
     result += 1/(math.pow(i,2))#blank1
print(round(result,2))

2.49

In [ ]:
print(random.randint(3, 6))

6

In [ ]:
import math

In [ ]:
math.sqrt(100)

10.0

In [ ]:
math.ceil(4.1)

5

In [ ]:
math.floor(4.9)

4

In [ ]:
random.seed(100)
print(random.randint(0, 10))
print(random.randint(0, 10))
print(random.randint(0, 10))
print(random.randint(0, 10))

2
7
7
2

In [ ]:
print(random.randint(0, 10))
print(random.randint(0, 10))
print(random.randint(0, 10))
print(random.randint(0, 10))

6
5
6
8

In [ ]:
random.seed(100)
print(random.randint(0, 10))
print(random.randint(0, 10))
print(random.randint(0, 10))
print(random.randint(0, 10))

2
7
7
2

In [ ]:
try:
  def binarySearch(list, k):
    start = 0
    end= len(list)-1
    target = k
    while start <= end:
      mid = (start+end)//2
      if list[mid]== target:
        return mid
      elif list[mid] > target:
        end= mid-1
      else:
        start = mid+1
    return -1
except:
  print("approach is wrong")

In [ ]:
binarySearch([1, 3, 5, 7, 8, 10], 7)

3

In [ ]:
binarySearch([1, 3, 5, 7, 8, 10], 11)

-1

In [ ]:
import mymath

ModuleNotFoundError: ignored

In [ ]:
class InvalidPassword(Exception):
  def __init__(self, message):
    super().__init__(message)
password=int(input())
if password == "str" and password == "int":
  print("Password is correct")
elif password == "str":
  raise InvalidPassword("Password must contain number as well")
elif password == "int":
  raise InvalidPassword("Password must contain alphabets as well")

abcd123

ValueError: ignored

In [ ]:
try:
  password= int(input())
  if password.isalphanumeric:
    print("Password is correct")
  else:
    raise InvalidPassword("Password must contain both number and alphabets")
except InvalidPassword as Error:
  print("either num or alphabet is missing")

123@

ValueError: ignored

In [ ]:
def func1(x):
  return x**2
a=1
left_hand_limit=[a+i for i in [-0.1, -0.01, -0.001, -0.0001]]

right_hand_limit=[a+i for i in [0.1, 0.01, 0.001, 0.0001]]

print(list(map(func1, left_hand_limit)))

print(list(map(func1, right_hand_limit)))

[0.81, 0.9801, 0.998001, 0.9998000100000001]
[1.2100000000000002, 1.0201, 1.0020009999999997, 1.00020001]

In [ ]:
def func1(x):
  return x**2
a=2
left_hand_limit=[a+i for i in [-0.1, -0.01, -0.001, -0.0001]]

right_hand_limit=[a+i for i in [0.1, 0.01, 0.001, 0.0001]]

print(list(map(func1, left_hand_limit)))

print(list(map(func1, right_hand_limit)))

[3.61, 3.9601, 3.9960010000000006, 3.99960001]
[4.41, 4.040099999999999, 4.004001, 4.000400010000001]

In [ ]:
# Mathematical Rules for calculating Slope or Derivatives of a function

# 1. Monomial Rule = f(x) = x^n = n(x)^n-1  or 3x^2 = 6x 

# 2. Linearity Rule = h(x) = a f(x) + b g(x)  == a f'(x) + b g'(x)

In [ ]:
password= "shabir1234"
num = int
char= str
num_count = 0
char_count = 0
for i in password:
  if i == num:
    num_count +=1
  elif i == char:
    char_count +=1
print(num_count, char_count)

0 0

In [ ]:
def get_derivative(func, a):
  h=.0001
  d = (func(a+h)+func(a))/h
  return d

In [ ]:
def parabola(x):
  return x**2
get_derivative(parabola, 2)

80004.00009999999

In [ ]:
import math
def some_complicate_function(x):
  return math.log(x**2)*(3**3)

In [ ]:
get_derivative(some_complicate_function, 5)

1738203.7453208298

In [ ]:
def min_value(a,b,c,ll,ul):
  ans = float('inf')
  for i in range(ll, ul+1):
    value = (a*(i**2) + b*i + c)
    if value <= ans:
      ans = i
  return ans

In [ ]:
min_value(2,3,-1,1,4)

1

In [6]:
import math
def roundup(a, digits):
  n =10**-digits #blank
  return round(math.floor(a/n)*n,digits) #blank2
print(roundup(123.01247,2))

123.01

In [7]:
import math
def roundup(a, digits):
  n =10**-digits #blank
  return round(math.ceil(a/n)*n,digits) #blank2
print(roundup(123.01247,2))

123.02

In [8]:
import math
def roundup(a, digits):
  n =math.pow(10,-digits) #blank
  return round(math.ceil(a/n)*n,digits) #blank2
print(roundup(123.01247,2))

123.02

In [9]:
class Parent:
    def test(self):
        print("test of parent called", end=", ")
class Child1(Parent):
    def test(self):
        print("test of child1 called", end=", ")
        super().test()
class Child2(Parent):
    def test(self):
        print("test of child2 called", end=", ")
        super().test()
class Brother(Child1,Child2):
    def test2(self):
        print("test of Brother called", end=", " )

obj= Brother()
obj.test()

test of child1 called, test of child2 called, test of parent called,

In [10]:
class Demo:
    def __new__(self):
        self.__init__(self)
        print("Demo's __new__() invoked")

    def __init__(self):
        print("Demo's __init__() invoked")

class Derived_Demo(Demo):
    def __new__(self):
        print("Derived_Demo's __new__() invoked")
    
    def __init__(self):
        print("Derived_Demo's __init__() invoked")

def main():
    obj1 = Derived_Demo()
    obj2 = Demo()

main()

Derived_Demo's __new__() invoked
Demo's __init__() invoked
Demo's __new__() invoked

In [11]:
string = '''
We spent several years building our own database engine, Amazon Aurora, a fully-managed MySQL and PostgreSQL-compatible service with the same or better durability and availability as
the commercial engines, but at one-tenth of the cost. We were not surprised when this worked.
'''
result = lambda key, val: key[ key.find(val) -18 : key.find(val) +18 ] if val in key else -1

print(result(string, 'SQL'))

a fully-managed MySQL and PostgreSQL

In [19]:
def func(n):
    fibonacci_list=[]
    factorial_list=[]

    # Function to calculate the first n Fibonacci numbers
    def fibo(n): 
      if n <= 1:
          return n
      else:
          return(fibo(n-1) + fibo(n-2))

    # Function to calculate the factorial of a number k
    def fact(k): 
      if k==1:
        return 1
      else:
        return k*fact(k-1)

    # Function to check whether the number is prime or not
    def prime(m): 
      count=0 
      for i in range(1,m):
        if m%i==0:
          count+=1
      if count!=1:
        return m
      else:
        return fact(m)

    for i in range(n):
        fibonacci_list.append(fibo(i))

    for j in fibonacci_list:
        factorial_list.append(prime(j))

    return fibonacci_list, factorial_list

In [20]:
func(10)

([0, 1, 1, 2, 3, 5, 8, 13, 21, 34],
 [0, 1, 1, 2, 6, 120, 8, 6227020800, 21, 34])

In [21]:
array = [ [1, [ [ 2 ] ], [ [ [ 3 ] ] ], [ [ 4 ], 5 ] ]]
result = lambda x: sum(map(result, x), [ ] ) if isinstance(x, list) else [x]
print(result(array))

[1, 2, 3, 4, 5]

In [22]:
from functools import reduce
array = {1, 2, 3}
result = lambda array: reduce(lambda P, x: P + [subset | {x} for subset in P], array , [set()]) 

print(result(array))

[set(), {1}, {2}, {1, 2}, {3}, {1, 3}, {2, 3}, {1, 2, 3}]