<a href="https://colab.research.google.com/github/DrShabirAhmad/Code/blob/main/Practice_Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print multiplication table of 7
for i in range(1, 11):
  print(7*i)

7
14
21
28
35
42
49
56
63
70

In [ ]:
n=int(input())
for i in range(1, 11):
  print(n*i)

4
4
8
12
16
20
24
28
32
36
40

In [ ]:
n=int(input())
for i in range(1, 11):
  print(n*i, end =" ")

5
5 10 15 20 25 30 35 40 45 50

In [ ]:
sum=0
for i in range(1, 7):
  sum += i
print(sum)

21

In [ ]:
sum= 0
for i in range(1, 7):
  if i %2 ==0:
    sum += i
print(sum)

12

In [ ]:
sum= 0
for i in range(1, 7):
  if i %2 !=0:
    sum += i
print(sum)

9

In [ ]:
for i in range(5):
  print('#')

#
#
#
#
#

In [ ]:
for i in range(5):
  print(i*'#')

#
##
###
####

In [ ]:
n= int(input())
for i in range(n):
  print(i*'#')

5

#
##
###
####

In [ ]:
n= int(input())
for i in range(n):
  print((n-i)*'#')

5
#####
####
###
##
#

In [ ]:
n= int(input())
for i in range(n):
  print((i)*' ', (n-i)*'#')

5
 #####
  ####
   ###
    ##
     #

In [ ]:
n= int(input())
for i in range(n):
  print((i)*' ', (n-i)*'#')

for i in range(n):
  print(n*' ', (n-i)*'#')

5
 #####
  ####
   ###
    ##
     #
      #####
      ####
      ###
      ##
      #

In [ ]:
n= int(input())
for i in range(n+1):
  print(i*'#')
for i in range(n):
  print(n*' ', (n-i)*'#')

5

#
##
###
####
#####
      #####
      ####
      ###
      ##
      #

In [ ]:
n= int(input())
for i in range(n+1):
  print((n-i)*'#')
for i in range(n):
  print(n*' ', (n-i)*'#')

5
#####
####
###
##
#

      #####
      ####
      ###
      ##
      #

In [ ]:
n= int(input())
for i in range(n):
  print((i)*' ', (n-i)*'#')

for i in range(1, n+1):
  print((n-1)*' ', (i)*'#')

5
 #####
  ####
   ###
    ##
     #
     #
     ##
     ###
     ####
     #####

In [ ]:
n= int(input())
for i in range(n):
  print((i)*' ', 2*(n-i)*'#')

5
 ##########
  ########
   ######
    ####
     ##

In [ ]:
'''Problem Description
Print the following text in the output:

Hello

World !
Note: There is a empty line you need print between Hello and World ! '''

print("Hello")
print()
print("World !")

Hello

World !

In [ ]:
print("Hello")
print("World !")

Hello
World !

In [ ]:
print("Hello 40")
print("50 World !")

Hello 40
50 World !

In [ ]:
print("Hello World !")

Hello World !

In [ ]:
for i in range(10):
  if i % 2 !=0:
    print(i, end=" ")

1 3 5 7 9

In [ ]:
a, b= 6, 3
sum = a + b
sub = a - b
mul = a*b
div= a//b
print(sum)
print(sub)
print(mul)
print(div)

9
3
18
2

In [ ]:
for i in range(10):
  if i%2==0:
    print(i, end= " ")

0 2 4 6 8

In [ ]:
for i in range(10):
  if i%2==0:
    if i == 8:
      print(i)
    else:
      print(i, end= " ")

0 2 4 6 8

In [ ]:
name=input()
print("Hello",""+name)

shabir
Hello shabir

In [ ]:
print("A","B","C","D","E",sep="\n")

A
B
C
D
E

In [ ]:
A=input()
B=input()
print(A+B)
# it is concatenation of two strings

2
6
26

In [ ]:
A=int(input())
B=int(input())
print(A+B)
# it will add two integers

2
6
8

In [ ]:
a=input()
b=input()
print(a +" says Hi to "+ b)

Shabir
Samia
Shabir says Hi to Samia

In [ ]:
a=int(input())
print(40- a)

10
30

In [ ]:
N=int(input())
T=2*N
print(T)

7
14

In [ ]:
T = int(input())
j=1
while j < T:
  j +=1
  A= int(input())
  B= int(input())
  x= min(A, B)
  for i in range(x, 0, -1):
    if A%i==0 and B%i==0:
      print(i)
      break

3
12
6
6
8
24
8

In [ ]:
T = int(input())
j=1
while j < T:
  j +=1
  A= int(input())
  B=int(input())
  x= max(A, B)
  y= A*B
  for i in range(x, y+1):
    if i%A==0 and i%B==0:
      print(i)
      break

3
8
20
40
10
20
20

In [ ]:
n=int(input())
x=0
temp = n
while n>0:
    y=n%10
    x=10*x+y
    n//=10
if x==temp:
    print("Yes")
else:
    print("No")

12321
Yes