<a href="https://colab.research.google.com/github/DrShabirAhmad/Code/blob/main/Practice_Intermediate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class BankAccount:
  pass

In [ ]:
c1= BankAccount()

In [ ]:
c2= BankAccount()

In [ ]:
a= 10
type(a)

int

In [ ]:
isinstance(a, str)

False

In [ ]:
isinstance(a, int)

True

In [ ]:
print(type(c1))

<class '__main__.BankAccount'>

In [ ]:
print(id(c1))
print(id(c2))

140348732284688
140348482885136

In [ ]:
isinstance(c1, int)

False

In [ ]:
isinstance(c1, BankAccount)

True

In [ ]:
BankAccount()

In [ ]:
class student:
  pass
s1= student()
s2=student()
s3=student()

In [ ]:
print(type(s2))

<class '__main__.student'>

In [ ]:
c1=BankAccount()
c1.account_id=100
c1.balance=1000
c1.name="shabir"

In [ ]:
c2=BankAccount()
c2.account_id=101
c2.balance=500
c2.name="abrar"

In [ ]:
print(c1.name, c2.balance)

shabir 500

In [ ]:
print(c1.name, c1.balance)

shabir 1000

In [ ]:
print(c2.pancard)

AttributeError: ignored

In [ ]:
c1.pancard= "BNIPD2017A"

In [ ]:
print(c1.pancard)

BNIPD2017A

In [ ]:
class BankAccount:
  def show_balance(self):
    print(self.balance)

In [ ]:
c1.account_id=100
c1.balance=1000
c1.name="shabir"
BankAccount.show_balance(c1)

1000

In [ ]:
class BankAccount:
  def show_balance(self):
    print(self.name)
    print(self.balance)
c1= BankAccount()
c1.account_id=100
c1.balance=1000
c1.name="shabir"

In [ ]:
c1.show_balance()

shabir
1000

In [ ]:
BankAccount.show_balance(c1)

shabir
1000

In [ ]:
class BankAccount:
  def __init__(self, account_id, name, balance):
    self.account_id= account_id
    self.name= name
    self.balance= balance

  def show_balance(self):
    print("Balance for", self.name, "is", self.balance)

c1= BankAccount(100, "Mohtashm Shabir", 1000)

In [ ]:
BankAccount.show_balance(c1)

Balance for Mohtashm Shabir is 1000

In [ ]:
c2 = BankAccount(101, "Muqsit Shabir", 900)
BankAccount.show_balance(c2)

Balance for Muqsit Shabir is 900

In [ ]:
c2.account_id

101

In [ ]:
c1.name

'Mohtashm Shabir'

In [ ]:
c2.balance

900

In [ ]:
c2.show_balance()

Balance for Muqsit Shabir is 900

In [ ]:
c1.show_balance()

Balance for Mohtashm Shabir is 1000

In [ ]:
class A:
  def __init__(self):
    print("New Object is created")
A()
obj1= A()
if A():
  print(A())

New Object is created
New Object is created
New Object is created
New Object is created
<__main__.A object at 0x7f7ff9a6c670>

In [ ]:
class Random:
  def __init__(self, a= "default value sorted"):
    self.a= a

  def display(self):
    print(self.a)
r = Random()
r.display()

default value sorted

In [ ]:
class A:
  def __init__(self, name):
    self.name= name

a1 = A("Bunty")
a2= A("Bunty")

In [ ]:
print(id(a1)==id(a2))

False

In [ ]:
id(a1)

140187627295696

In [ ]:
id(a2)

140187627298000

In [ ]:
class mycustomclass:
  def show_id(self):
    return id(self)
a1= mycustomclass()
print(id(a1))
print(a1.show_id())

140187627298576
140187627298576

In [ ]:
class A:
  def __init__(self, name):
    self.name = name
a= A("Muwahid")

In [ ]:
class A:
  var = 'Hello'

  def __init__(self, name):
    self.name = name

a = A("Muwahid")

In [ ]:
A.var

'Hello'

In [ ]:
A.name

AttributeError: ignored

In [ ]:
a.var

'Hello'

In [ ]:
a.name

'Muwahid'

In [ ]:
class Employee:
  company_name = "Scaler"
  def __init__(self, name, id):
    self.name = name
    self.id = id

e1= Employee('A', 1)

In [ ]:
print(e1.company_name)
print(e1.name)
print(e1.id)

Scaler
A
1

In [ ]:
e2= Employee('B', 2)

In [ ]:
print(e2.company_name)
print(e2.name)
print(e2.id)

Scaler
B
2

In [ ]:
Employee.company_name = "InterviewBit"

In [ ]:
print(e1.company_name)
print(e2.company_name)

InterviewBit
InterviewBit

In [ ]:
e1.company_name = "Amazon"

In [ ]:
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

InterviewBit
Amazon
InterviewBit

In [ ]:

company_name = ["InterviewBit"]
print(Employee.company_name)
print(e1.company_name)
print(e2.company_name)

['InterviewBit', 'Interview', 'Interview']
Amazon
['InterviewBit', 'Interview', 'Interview']

In [ ]:
class DSMLInstructor:
  def __init__(self, name):
    self.name = name

  def teaches(self):
    print("Instructor teaches Data Science and ML")
t1 = DSMLInstructor("sachin")

In [ ]:
print(t1)

<__main__.DSMLInstructor object at 0x7f7ff9a785e0>

In [ ]:
t1.teaches()

Instructor teaches Data Science and ML

In [ ]:
def __str__(self):
  return "Instructor name is:" +self.name
t1 = DSMLInstructor("Sachin")

In [ ]:
print(t1)

<__main__.DSMLInstructor object at 0x7f7ff9ba15e0>

In [ ]:
print(DSMLInstructor.t1)

NameError: ignored

In [ ]:
def __str__(self, name):
  self.name= name
  return "Instructor name is:" +self.name
t1 = DSMLInstructor("Sachin")

In [ ]:
class parent:
  def __init__(self):
    print("Inside Parent class")

class child(parent):
  def __init__(self):
    print("Inside Child class")

p1 = parent()

Inside Parent class

In [ ]:
c1 = child()

Inside Child class

In [ ]:
class parent:
  def __init__(self):
    print("Inside Parent class")

class child(parent):
  def __init__(self):
    print("Inside Child class")
    parent.__init__(self)
c1= child()

Inside Child class
Inside Parent class

In [ ]:
class parent:
  def __init__(self):
    print("Inside Parent class")

class child(parent):
  def __init__(self):
    print("Inside Child class")
    super().__init__()
c1= child()

Inside Child class
Inside Parent class

In [ ]:
class ScalerMember:
  def __init__(self, name):
    self.name = name
class student(ScalerMember):
  def __init__(self, name, batch):
    self.batch = batch
class staff(ScalerMember):
  def __init__(self, name, salary):
    self.salary = salary
class teacher(staff):
  def __init__(self, name, salary, subject):
    self.subject = subject

st1= student("Shabir", "Nov22")

In [ ]:
st1.name

AttributeError: ignored

In [ ]:
st1.batch

'Nov22'

In [ ]:
t1 = teacher("Sachin", 10, "DSML")

In [ ]:
t1.salary

AttributeError: ignored

In [ ]:
t1.name

AttributeError: ignored

In [ ]:
t1.subject

'DSML'

In [ ]:
class ScalerMember:
  def __init__(self, name):
    self.name = name
class student(ScalerMember):
  def __init__(self, name, batch):
    self.batch = batch
    super().__init__(name)
class staff(ScalerMember):
  def __init__(self, name, salary):
    self.salary = salary
    super().__init__(name)
class teacher(staff):
  def __init__(self, name, salary, subject):
    self.subject = subject
    super().__init__(name, salary)

st1= student("Shabir", "Nov22")
t1= teacher("Sachin", 10, "DSML")

In [ ]:
t1.salary

10

In [ ]:
t1.name

'Sachin'

In [ ]:
st1.name

'Shabir'

In [ ]:
st1.batch

'Nov22'

In [ ]:
class First():
  def __init__(self):
    print("First")
class Second(First):
  def __init__(self):
    print("Second")
class Third(First):
  def __init__(Self):
    print("Third")
  def run_this(self):
    print("this runs in third")
class Fourth(Second, Third):
  def __init__(self):
    super().__init__()

In [ ]:
print(Fourth())

Second
<__main__.Fourth object at 0x7f92f77d5a30>

In [ ]:
print(Fourth.__mro__)

(<class '__main__.Fourth'>, <class '__main__.Second'>, <class '__main__.Third'>, <class '__main__.First'>, <class 'object'>)

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name= name
    self.id= id
    self.balance= balance
ac1= BankAccount("Ravi", 100, 10000)

In [ ]:
print(ac1.balance)

10000

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name= name
    self.id= id
    self.balance= balance
  def Show_balance(self):
    return self.name + " has a balance of " +str(self.balance)
ac1= BankAccount("Ravi", 100, 10000)

In [ ]:
ac1.Show_balance()

'Ravi has a balance of 10000'

In [ ]:
ac1.__dict__

{'name': 'Ravi', 'id': 100, 'balance': 10000}

In [ ]:
ac1.__BankAccount_balance = 0

In [ ]:
ac1.Show_balance()

'Ravi has a balance of 10000'

In [ ]:
class car:
  def __init__(self, registration, color, model):
    self.registration = registration
    self.color = color
    self.model = model
c1= car("JK01V0619", "White", "Wagon-R")

In [ ]:
c1.color

'White'

In [ ]:
c1.registration

'JK01V0619'

In [ ]:
c1.model

'Wagon-R'

In [ ]:
def display_r(self):
  print(self.__registration)

In [ ]:
c1.display_r()

AttributeError: ignored

In [ ]:
def display_r(self):
  print(self.registration)
def display_r(self):
  print(self.__registration)
c1.__registration= "R2010"
c1.display_r()

AttributeError: ignored

In [ ]:
class vehicle:
  country = "India"
  def __init__(self, reg, color, model):
    self.reg= reg
    self.color = color
    self.model = model
    def display__r(self):

IndentationError: ignored

In [ ]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

print(obj.quantity)

10

In [ ]:
print(len(obj.__dict__))

3

In [ ]:
print(obj.quantity+len(obj.__dict__))

13

In [ ]:
class Bill():
  def __init__(self, prev_reading, curr_reading):
    self.prev_reading = prev_reading
    self.curr_reading= curr_reading
  def total_bill(self):
    total=0.0
    units= (self.curr_reading-self.prev_reading)
    if units in range(1, 101):
      total += (units*3.5)
    elif units in range(101, 201):
      total += ((units-100)*5)+350
    else:
      total += ((units-200)*8)+850
    total +=150
    return total

In [ ]:
print(total_bill(200, 650))

NameError: ignored

In [ ]:
class Bill():
    def __init__(self, prev_read, cur_read):
        #YOUR CODE GOESS HERE
        self.cur_read = cur_read
        self.prev_read = prev_read
    def total_bill(self):
        total=0.0
        units= self.cur_read - self.prev_read
        if units in range(1,101):
            total += units*3.5
        elif units in range(101, 201):
            total += (units-100)*5 + 350
        else:
            total += (units-200)*8 + 850
        total += 150
        return total
obj = Bill(200,650)
print(obj.total_bill())

3000.0

In [ ]:
obj = Bill(100,950)
print(obj.total_bill())

6200.0

In [ ]:
class Student:
    def __init__(self, marks1, marks2, credits1, credits2):
        self.marks1= marks1
        self.marks2= marks2
        self.credits1= credits1
        self.credits2= credits2

    def points(self, marks):
        if marks in range(90,100):
          return 10
        elif marks in range(75,90):
          return 9
        elif marks in range(60,75):
          return 8
        elif  marks in range(45,60):
          return 7
        else:
          return 0

    def grade_point_average(self):
        if self.credits1!=0 and self.credits2!=0:
          gpa= ((self.points(self.marks1)*self.credits1) + self.points(self.marks2)*self.credits2) / (self.credits1 + self.credits2)
          return round(gpa,2)
        else:
          return "Zero credits for both subjects"

obj=student(85, 3, 76, 4)
print(obj.points(85))
print(obj.grade_point_average())

9

AttributeError: ignored

In [ ]:
class Reactangle:
    def __init__(self, x, y):
        self.l = x
        self.b = y

    def perimeter(self):
        return 2 * (self.l + self.b)

    def area(self):
        return (self.l * self.b)
obj= Reactangle(5, 3)
print(obj.perimeter())
print(obj.area())

16
15

In [ ]:
class Reactangle:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def perimeter(self):
        return 2 * (self.x + self.y)

    def area(self):
        return (self.x * self.y)
obj= Reactangle(5, 3)
print(obj.perimeter())
print(obj.area())

16
15

In [ ]:
class Circle:
    def __init__(self, r):
        self.r= r
    def perimeter(self):
       return 2*3.14*self.r
    def area(self):
        return 3.14*(self.r)**2
obj = Circle(7)
print(obj.perimeter())
print(obj.area())
print(obj.area)

43.96
153.86
<bound method Circle.area of <__main__.Circle object at 0x7f323cf12580>>

In [ ]:
obj = Circle(1)
print(obj.perimeter())
print(obj.area())

6.28
3.14

In [ ]:
class solution:
  def initial(self,sets):
    return self.final(sets)

  def final(self, sets):
    return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

In [ ]:
class solution:
  def initial(self,sets):
    return self.final(sets)

  def final(self, sets):
    return (lambda x: ((x**3)%2==0,x**3),sets)

print(solution().initial([4,5,6]))

(<function solution.final.<locals>.<lambda> at 0x7f323cef4160>, [4, 5, 6])

In [ ]:
class solution:
  def initial(self,sets):
    return self.final(sets)

  def final(self, sets):
    return map(lambda x: ((x**3)%2==0,x**3),sets)

print(solution().initial([4,5,6]))

<map object at 0x7f323cf26970>

In [ ]:
def func_square(x):
  c= x*x
  return c
func_square(7)

49

In [ ]:
(lambda x: x*x)(7)

49

In [ ]:
(lambda x, y: x*y)(6,7)

42

In [ ]:
(lambda x, y, z : x*y*z)(2,3,4)

24

In [ ]:
(lambda a, b, c: a-b-c)(2,3,4)

-5

In [ ]:
def func(x):
  if x>5:
    return "Num is greater than 5"
  else:
    return "Num is smaller than 5"

In [ ]:
func(7)

'Num is greater than 5'

In [ ]:
func(4)

'Num is smaller than 5'

In [ ]:
fun= lambda x : "Num is greater than 5" if x>5 else "Num is smaller than 5"

In [ ]:
fun(7)

'Num is greater than 5'

In [ ]:
f = lambda x : "Num is greater than 5" if x>5 else "Num is smaller than 3" if x<3 else "Num is between 3 and 5"

In [ ]:
f(4)

'Num is between 3 and 5'

In [ ]:
f(7)

'Num is greater than 5'

In [ ]:
f(3)

'Num is between 3 and 5'

In [ ]:
f(2)

'Num is smaller than 3'

In [ ]:
a= lambda x, y : [x*y, x+y]
a(5,6)

[30, 11]

In [ ]:
b= lambda x, y : {x*y, x+y}
b(5,6)

{11, 30}

In [ ]:
list= [[2,3],
       [4,2],
       [1,9]]
sorted(list)

[[1, 9], [2, 3], [4, 2]]

In [ ]:
sorted(list, key=lambda x:x[1])

[[4, 2], [2, 3], [1, 9]]

In [ ]:
(lambda x: x[1])([4,2])

2

In [ ]:
(lambda x: x[2])([1,9,6,8,9])

6

In [ ]:
students = [{"name": "A", "Marks": 50},
            {"name": "B", "Marks": 100},
            {"name": "C", "Marks": 40},
            {"name": "D", "Marks": 80}]

In [ ]:
sorted(students, key= lambda x: x["Marks"])

[{'name': 'C', 'Marks': 40},
 {'name': 'A', 'Marks': 50},
 {'name': 'D', 'Marks': 80},
 {'name': 'B', 'Marks': 100}]

In [ ]:
sorted(students, key= lambda x: x["Marks"], reverse= True)

[{'name': 'B', 'Marks': 100},
 {'name': 'D', 'Marks': 80},
 {'name': 'A', 'Marks': 50},
 {'name': 'C', 'Marks': 40}]

In [ ]:
order = {"Cust1": 50, "Cust2": 90, "Cust3":30, "Cust4": 80}

In [ ]:
sorted(order, key=lambda x: x)

SyntaxError: ignored

In [ ]:
list= [1, 2, 3, 4, 5]
output= []
f= lambda x: x*x
for i in list:
  output.append(f(i))
output

[1, 4, 9, 16, 25]

In [ ]:
[i*i for i in list]

[1, 4, 9, 16, 25]

In [ ]:
f= lambda x: x*x
list= [1, 3, 5, 7]
list(map(f, list))

TypeError: ignored

In [ ]:
list= [1, 3, 5, 7]
[i*i for i in list]

[1, 9, 25, 49]

In [ ]:
a= input()

1 2 3 4 5

In [ ]:
print(a)

1 2 3 4 5

In [ ]:
a.split(" ")

['1', '2', '3', '4', '5']

In [ ]:
def mul(i):
  return i*i

x=map(mul,(1,2,3,4,5))

print(x)
print(list(x))

<map object at 0x7f1aa36ee2e0>
[1, 4, 9, 16, 25]

In [ ]:
num = [3, 5, 7, 11, 13]
mul = []
for n in num:
    mul.append(n ** 2)
print(mul)

[9, 25, 49, 121, 169]

In [ ]:
def mul(i):
    return i * i
num = (3, 5, 7, 11, 13)
resu = map(mul, num)
print(resu)
# making the map object readable
mul_output = list(resu)
print(mul_output)

<map object at 0x7f1aa36eec70>
[9, 25, 49, 121, 169]

In [ ]:
example = ["Welcome", "to", "Simplilearn"]

x = list(map(len, example))

print(x)

[7, 2, 11]

In [ ]:
import math

num = [9, 36, 49, 81, 121]

x = list(map(math.sqrt, num))

print(x)

[3.0, 6.0, 7.0, 9.0, 11.0]

In [ ]:
a= input()
list(map(int, a))

1 2 3 4 5

ValueError: ignored

In [ ]:
num = (6, 9, 21, 44)

resu = map(lambda i: i + i, num)

print(resu)
print(list(resu))

<map object at 0x7f1aa36f0d60>
[12, 18, 42, 88]

In [ ]:
def double(number):
    return number*2
number_list = [1,2,3,4,5]
number_list = map(double, number_list)
print(list(number_list))

[2, 4, 6, 8, 10]

In [ ]:
base= [10, 20, 30, 40, 50]
index= [1, 2, 3, 4, 5]

base=[10, 20, 30, 40, 50]
index=[1, 2, 3, 4, 5]
powers=list(map(pow, base, index))
print(list(powers))

[10, 400, 27000, 2560000, 312500000]

In [ ]:
lst1= [1, 2, 3, 4, 5]
list(filter(lambda x: x%2==0, lst1))

[2, 4]

In [ ]:
class Smaller:
    def __init__(self,a):
        self.string=a

    def display(self):
        print("The type of Name is smaller")

    def evaluate(self):
        ans=0
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each in vowels]
        ans=len(final)
        print(ans)

class Larger:
    def __init__(self,a):
        self.string=a

    def display(self):
        print("The type of Name is larger")

    def evaluate(self):
        ans=0
        vowels = "AaEeIiOoUu"
        final = [each for each in self.string if each not in vowels]
        ans=len(final)
        print(ans)

def main(a):
    """
    input a is string
    """
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

In [ ]:
class MachineLearning:
    def __init__(self,name,category):
        self.name=name
        self.category=category

    def getname(self):
        return self.name

    def getcategory(self):
        return self.category

    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

class Supervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
        #YOUR CODE GOES HERE


    def type(self):
        #YOUR CODE GOES HERE
        super().print()
        print("Supervised Learning Algorithm")


class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        super().__init__(name, category)


    def type(self):
        #YOUR CODE GOES HERE
        super().print()
        print("Unsupervised Learning Algorithm")


def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''

    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

In [ ]:
a = [1, 2, 3, 4, 5]
list(map(lambda x : x%2==0, a))

[False, True, False, True, False]

In [ ]:
s= lambda x, y : x+y

In [ ]:
s(5,6)

11

In [ ]:
from functools import reduce

In [ ]:
a= [1,2,3,4,5,6]
reduce((lambda x, y: x+y), a)

21

In [ ]:
reduce(lambda x, y: x*y, range(1, 11))

3628800

In [ ]:
reduce(lambda x, y: x*y, range(1, 6))

120

In [ ]:
a= [1, 2, 3, 4]
b= ["a", "b", "c", "d"]
zip(a, b)

In [ ]:
list(zip(a, b))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
dict(zip(a, b))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
set(zip(a, b))

{(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')}

In [ ]:
c= [1, 2, 3, 4]
d= ["b", "c", "d"]

set(zip(c, d))

{(1, 'b'), (2, 'c'), (3, 'd')}

In [ ]:
c= [1, 2, 3, 4]
d= ["b", "c", "d"]

list(zip(c, d))

[(1, 'b'), (2, 'c'), (3, 'd')]

In [ ]:
c= [1, 2, 3, 4]
d= ["b", "c", "d"]
dict(zip(c, d))

{1: 'b', 2: 'c', 3: 'd'}

In [ ]:
def gen_exp(n):
  def exp(x):
    return x**n
  return exp
gen_exp(2)

In [ ]:
def exp_5(x):
  return x**5
exp_5(2)

32

In [ ]:
exp_5(2)

32

In [ ]:
def gen_exp(n):
  def exp(x):
    return x**n
  return exp
gen_exp(5)

In [ ]:
def gen_exp(n):
  def exp(x):
    return 2**n
  return exp
gen_exp(5)

In [ ]:
print(gen_exp(5))

<function gen_exp.<locals>.exp at 0x7f363749baf0>

In [ ]:
def add(x):
  def add_x(y):
    return x+y
  return add_x
a1= add(5)

In [ ]:
a1(7)

12

In [ ]:
a1(5)

10

In [ ]:
def foo():
  print("Hi, How are you")
foo()

Hi, How are you

In [ ]:
def bar():
  print("Nov22 is my fav DSML Batch")
bar()

Nov22 is my fav DSML Batch

In [ ]:
def soo():
  print("*"*50)
  print("_"*50)
  print("Hi, Eid Mubarak to You & Your Family.")
  print("_"*50)
  print("*"*50)
soo()

**************************************************
__________________________________________________
Hi, Eid Mubarak to You & Your Family.
__________________________________________________
**************************************************

In [ ]:
def soo():
  print("*"*50)
  print("-"*50)
  print("Hi, Eid Mubarak to You & Your Family.")
  print("-"*50)
  print("*"*50)
soo()

**************************************************
--------------------------------------------------
Hi, Eid Mubarak to You & Your Family.
--------------------------------------------------
**************************************************

In [ ]:
def soo():
  print("-"*15, "*"*5, "-"*15)
  print("Hi, Eid Mubarak to You & Your Family.")
  print("-"*15, "*"*5, "-"*15)
soo()

--------------- ***** ---------------
Hi, Eid Mubarak to You & Your Family.
--------------- ***** ---------------

In [ ]:
def add_dashes(func):
  def inner():
    print("-"*15, "*"*5, "-"*15)
    func()
    print("-"*15, "*"*5, "-"*15)
  return inner

In [ ]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

In [ ]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2

In [ ]:
arr = ["php", "w3r", "python", "aaa", "java"]
result  = list( filter( lambda x: (x =="".join( reversed(x))), arr))

In [ ]:
print(result)

['php', 'aaa']

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

In [ ]:
db = [dict(zip(column_names, db_rows)) for row in db_rows]
print(db)

[{'name': ('Alice', 180000, 'data scientist'), 'salary': ('Bob', 99000, 'data engineer'), 'job': ('Frank', 87000, 'data analyst')}, {'name': ('Alice', 180000, 'data scientist'), 'salary': ('Bob', 99000, 'data engineer'), 'job': ('Frank', 87000, 'data analyst')}, {'name': ('Alice', 180000, 'data scientist'), 'salary': ('Bob', 99000, 'data engineer'), 'job': ('Frank', 87000, 'data analyst')}]

In [ ]:
db = [dict(zip(row, column_names)) for row in db_rows]
print(db)

[{'Alice': 'name', 180000: 'salary', 'data scientist': 'job'}, {'Bob': 'name', 99000: 'salary', 'data engineer': 'job'}, {'Frank': 'name', 87000: 'salary', 'data analyst': 'job'}]

In [ ]:
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

4

In [ ]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

In [ ]:
sentence = "abc cde def"
result = list(map(lambda x: x, sentence.split(" ")))
print(result)

['abc', 'cde', 'def']

In [ ]:
from functools import reduce
def func(integers, names, numbers):
  integers = [int(item) for item in input().split(" ")]
  names = [item for item in input().split(" ")]
  numbers = [int(item) for item in input().split(" ")]
  m, f, r = func(ints, names, numbers)
  map_result = list(map(lambda x: x*x, integers))

  filter_result = list(filter(lambda name: len(name)<=7, names))

  reduce_result = reduce(lambda num1, num2: num1*num2, numbers)

  return map_result, filter_result, reduce_result

In [ ]:
func(4 6 3 9 2 8 12, "scaler" "interviewbit" "rishabh" "student" "course", 4 6 9 23 5)

SyntaxError: ignored

In [ ]:
def is_valid(email):
    email = email.split("@")
    if len(email) != 2:
        return False
    if len(email[0]) > 20:
        return False
    return True
def check(emails):
    '''
    input:
    emails -> list of emails to check
    output:
    verified_lex -> the verified list of emails, in lexicographical order
    '''
    verified_lex = []
    for email in emails:
        if is_valid(email):
            verified_lex.append(email)
    verified_lex = sorted(verified_lex)
    return verified_lex

In [ ]:
is_valid(sara@scaler.com brian-23@scaler.com brute_54@scaler.com)

NameError: ignored

In [ ]:
a=[1,[2,3],4,5]
result = lambda x: list(map(lambda y:2*y, x)) if isinstance(x,list) else lambda x:3*x
print(result(a))

[2, [2, 3, 2, 3], 8, 10]

In [ ]:
list(map(lambda y:2*y, a))

[2, [2, 3, 2, 3], 8, 10]

In [ ]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : (name.lower() or name.upper()) in x , ids))
print(result)

['samJohnson@iit.com']

In [ ]:
def isPalindrome(my_list):

  palindromes = list(filter(lambda word: word == word[::-1], my_list))

  return palindromes

In [ ]:
def zipzap():
  print("I do Zip Zap")
zipzap()

I do Zip Zap

In [ ]:
def add_dashes(func):
  def inner():
    print("-"*15, "*"*5, "-"*15)
    func()
    print("-"*15, "*"*5, "-"*15)
  return inner

In [ ]:
new_zipzap = add_dashes(zipzap)

In [ ]:
new_zipzap()

--------------- ***** ---------------
I do Zip Zap
--------------- ***** ---------------

In [ ]:
def func(name):
  print("Hello:", name)
func("Shabir")

Hello: Shabir

In [ ]:
def Deco(name, n):
  print("*"*n)
  print("Hello:", name)
  print("*"*n)
Deco("Dr. Shabir Ahmad", 24)

************************
Hello: Dr. Shabir Ahmad
************************

In [ ]:
@add_dashes
def Deco(name, n):
  print("*"*n)
  print("Hello:", name)
  print("*"*n)

In [ ]:
file = open("/content/sample_data/secretary.py", "r" )

In [ ]:
file.read()

'Hi, I am Dr. Shabir Ahmad, I am pursuing DSML course from scaler. \nI am A veterinarian by profession. But i love playing with Data.\nThat is it.\n'

In [ ]:
file.seek(5)

5

In [ ]:
file.read(5)

' am D'

In [ ]:
file.read(2)

'r.'

In [ ]:
file.seek(0)

0

In [ ]:
file.read(2)

'Hi'

In [ ]:
file.closed

False

In [ ]:
file.close()

In [ ]:
file.closed

True

In [ ]:
with open("/content/sample_data/secretary.py") as file1:
  print(file1.read(2))
  print(file1.closed)
  print(file1.read(3))

Hi
False
, I

In [ ]:
with open("/content/sample_data/secretary.py") as file1:
  print(file1.read(2))
print(file1.closed)
print(file1.read(3))

Hi
True

ValueError: ignored

In [ ]:
file2= open("/content/sample_data/secretary.py", "r+")

In [ ]:
file2.read()

'Hi, I am Dr. Shabir Ahmad, I am pursuing DSML course from scaler. \nI am A veterinarian by profession. But i love playing with Data.\nThat is it.\n'

In [ ]:
file2.write("writing with r+")

15

In [ ]:
with open("/content/sample_data/secretary.py", "r+") as file2:
  print(file2.read())
  print(file2.write("Writing inside my file with context manager with r+"))

Hi, I am Dr. Shabir Ahmad, I am pursuing DSML course from scaler.
I am A veterinarian by profession. But i love playing with Data.
That is it.

51

In [ ]:
with open("/content/sample_data/secretary.py", "r+") as file2:
  print(file2.read())

Hi, I am Dr. Shabir Ahmad, I am pursuing DSML course from scaler.
I am A veterinarian by profession. But i love playing with Data.
That is it.
Writing inside my file with context manager with r+

In [ ]:
open("file in w.txt", 'w')

In [ ]:
with open("/content/sample_data/secretary.py", "a") as fa:
  print(fa.read())

UnsupportedOperation: ignored

In [ ]:
with open("/content/sample_data/secretary.py", "a") as file2:
  print(file2.read())

UnsupportedOperation: ignored

In [ ]:
students= ["S Roy", "B Bose", "N Kar", "G Ghosh"]
scores =[ 1, 3, 2, 1 ,1]
zip(students, scores)
map(list(zip(students, scores)))
list(map(list(zip[students, scores])))

TypeError: ignored

In [ ]:
name = "Shabir"
vowel_count= map(lambda x: x in "AaEeIiOoUu", name)

In [ ]:
print(vowel_count)

<map object at 0x7faeed767490>

In [ ]:
len(list(filter(lambda x: x in 'AaEeIiOoUu', name)))

2

In [ ]:
import random

In [ ]:
random.randint(0, 10)

2

In [ ]:
OTP= (random.randint(100000, 999999))

In [ ]:
OTP

660916

In [ ]:
Luckdraw= (random.randint(101, 111))

In [ ]:
Luckdraw

109

In [ ]:
seed=100
randomizer(100, start, end)

NameError: ignored

In [ ]:
random.seed(100)
print(random.randint(0, 10))
print(random.randint(0, 10))
print(random.randint(0, 10))

2
7
7

In [ ]:
def func1():
  pass

def func2():
  pass

In [ ]:
func1()
func2()

In [ ]:
def something(x):
  print(1/x)
  print("A")
something(0)

ZeroDivisionError: ignored

In [ ]:
x=1
try:
  def something(x):
    print(1/x)
    print("A")
except:
  print("trying to divide by zero")
something(x)

1.0
A

In [ ]:
x=0
try:
  def something(x):
    print(1/x)
    print("A")
except:
  print("trying to divide by zero")
something(x)

ZeroDivisionError: ignored

In [ ]:
x= 0
try:
  print(1/x)
  print("A")
except ZeroDivisionError:
  print("X Can't be equal to Zero")
except:
  print("some error has occured")

X Can't be equal to Zero

In [ ]:
x= "A"
try:
  print(1/x)
  print("A")
except ZeroDivisionError:
  print("X Can't be equal to Zero")
except:
  print("some error has occured")

some error has occured

In [ ]:
x= "A"
try:
  print(1/x)
  print("A")
except ZeroDivisionError:
  print("X Can't be equal to Zero")
except Exception as e:
  print("some error has occured")

some error has occured

In [ ]:
x= "A"
try:
  print(1/x)
  print("A")
except ZeroDivisionError:
  print("X Can't be equal to Zero")
except Exception as e:
  print("some error has occured")
finally:
  print("I get executed irrespective of the error")

some error has occured
I get executed irrespective of the error

In [ ]:
x= 5
try:
  print(1/x)
  print("A")
except ZeroDivisionError:
  print("X Can't be equal to Zero")
  print(traceback.format_exe())
finally:
  print("I get executed irrespective of the error")

0.2
A
I get executed irrespective of the error

In [ ]:
def func1(x):
  return x**2
a=1

In [ ]:
left_hand_limit= [a+i for i in [-0.1, -0.01, -0.001, -0.0001]]
right_hand_limit= [a+i for i in [0.1, 0.01, 0.001, 0.0001]]
print(list(map(func1, left_hand_limit)))
print(list(map(func1, right_hand_limit)))

[0.81, 0.9801, 0.998001, 0.9998000100000001]
[1.2100000000000002, 1.0201, 1.0020009999999997, 1.00020001]

In [ ]:
def func(x):
  return x**2

def get_derivative(func, a):
  h=0.0001
  d=(func(a+h)-func(a))/h
  return d
get_derivative(func, 2)

4.0001000000078335

In [ ]:
import math
def some_complicate_function(x):
  return math.log(x**2)*(3*x**3)
some_complicate_function(5)

1207.0784343255752

In [ ]:
def func(N):
    fibonacci_list=[]
    factorial_list=[]
    def fibonacci(N):
        if N <=1:
            return N
        else:
            return (fibonacci(N-1) + fibonacci(N-2))

    def fact(k):
        if k==1:
            return 1
        else:
            return k*fact(k-1)
    def prime(m):
        count=0
        for i in range(1, m):
            if m%i==0:
                count+=1
        if count !=1:
            return m
        else:
            return fact(m)

    for i in range(N):
        fibonacci_list.append(fibonacci(i))

    for j in (fibonacci_list):
        factorial_list.append(prime(j))

    return fibonacci_list, factorial_list

In [ ]:
string= "A great deal for data science and Machine learning course is to Learn SQL, which is terrific (SQL)data calculation tool for all DSML students"
result = lambda key, val: key[ key.find(val) -18 : key.find(val) +18 ] if val in key else -1

print(result(string, 'SQL'))

ourse is to Learn SQL, which is terr

In [ ]:
class Demo:
    def __new__(self):
        self.__init__(self)
        print("Demo's __new__() invoked")

    def __init__(self):
        print("Demo's __init__() invoked")

class Derived_Demo(Demo):
    def __new__(self):
        print("Derived_Demo's __new__() invoked")

    def __init__(self):
        print("Derived_Demo's __init__() invoked")

def main():
    obj1 = Derived_Demo()
    obj2 = Demo()

main()

Derived_Demo's __new__() invoked
Demo's __init__() invoked
Demo's __new__() invoked

In [ ]:
class Parent:
    def test(self):
        print("test of parent called", end=", ")
class Child1(Parent):
    def test(self):
        print("test of child1 called", end=", ")
        super().test()
class Child2(Parent):
    def test(self):
        print("test of child2 called", end=", ")
        super().test()
class Brother(Child1,Child2):
    def test2(self):
        print("test of Brother called", end=", " )

obj= Brother()
obj.test()

test of child1 called, test of child2 called, test of parent called,

In [ ]:
class student:
    def __init__(self):
        '''The student class is initialized'''

    def print_student(self):
        '''Returns the student description'''
        print('student description')

help(student)

Help on class student in module __main__:

class student(builtins.object)
 |  Methods defined here:
 |
 |  __init__(self)
 |      The student class is initialized
 |
 |  print_student(self)
 |      Returns the student description
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [ ]:
def divide(a,b):
  """ a and b are integers"""
  return a//b

def multiply(a,b):
  """ a and b are integers"""
  return a*b

def subtract(a,b):
  """ a and b are integers"""
  return a-b

def calci(list1,list2):
  """ both arguments are list here"""
  arr1=[]
  arr2=[]
  arr3=[]
  if len(list1) != len(list2):
    print("Not same length")
  else:
    for i in range(0,len(list1)):
      arr1.append(divide(list1[i],list2[i]))
      arr2.append(multiply(list1[i],list2[i]))
      arr3.append(subtract(list1[i],list2[i]))

  return arr1,arr2,arr3

In [ ]:
class SalaryNotInRangeError(Exception):
  def __init__(self, message= "Salary is not in range"):
    self.message = message
    super().__init__(self.message)

def check_salary(salary):
  try:
    if salary < 10000 or salary > 100000:
      raise SalaryNotInRangeError()
    else:
      print("Congratulations!!")
  except SalaryNotInRangeError as e:
    print(e)

In [ ]:
def min_value(a,b,c,ll,ul):
	# a,b,c -> Integers. Coefficients of quadratic equation ax^2 + bx + c = 0
	# ll -> Integer. Lower limit of variable x
	# ul -> Integer. Upper Limit of variable x
	# return the Integer value of x for which the quadratic equation attains minimum value
	ans = float('inf')
    num = ll
	# code starts here
    for i in range(ll, ul+1):
        value = (a*(i**2) + b*i + c)
        if value <= ans:
            ans = value
    		num = i
	return num

IndentationError: ignored

In [ ]:
import math
def derivative(a):
	# a -> The value at which the derivative’s value needs to be calculated
    def f(x):
        return (math.exp(x) - math.exp(-x))/(math.exp(x) + math.exp(-x))
    dx = 0.000001
    ans = (((f(a+dx))/2 - (f(a-dx))/2)/dx)

    return round(ans, 4)

In [ ]:
def dist(p1, p2): # (x1, y1), (x2, y2)
    # |x1-x2| + |y1-y2|
    d = abs(p1[0]-p2[0]) + abs(p1[1]-p2[1])
    return d
def nearestStudents(names, loc):

    min_dist = float('inf')
    n = len(names)
    ans = [None, None]
    for FirstIndex in range(n):
        for SecondIndex in range(n):
            if FirstIndex==SecondIndex:
                continue
            else:
                if dist(loc[FirstIndex], loc[SecondIndex]) < min_dist:
                    min_dist = dist(loc[FirstIndex], loc[SecondIndex])
                    ans=[names[FirstIndex], names[SecondIndex]]
    return ans

In [ ]:
def check_point(A,B,a,b,c):
	#A -> The first point’s x and y coordinate in tuple form (x,y)
	#B -> The second point’s x and y coordinate in tuple form (x,y)
	#a,b,c -> coefficients of a straight line (a,b,c) of the form ax + by + c = 0.
    x1, y1 = A
    x2, y2 = B
    midx= (x1+x2)/2
    midy= (y1+y2)/2
    mid_point = (midx, midy)
    justify = a*(midx)+b*(midy)+c
    if justify == 0:
        return True
    else:
        return False

In [ ]:
def check_collinear(A,B,C):
	#A,B,C -> Three points in the XY-Plane in the form of tuple (x,y)
	x1, y1 = A
	x2, y2 = B
	x3, y3 = C
	m1 = (y3-y1)/(x3-x1)
	m2 = (y2-y1)/(x2-x1)
	if m1==m2:
		return True
	else:
		return False

In [ ]:
def Count_upper_lower(S):
  count_upper=0
  count_lower=0
  for i in S:
    if i.isupper():
      count_upper +=1
    elif i.islower():
      count_lower +=1
    else:
      pass
  return count_upper, count_lower

Count_upper_lower("The quick Brown Fox")

(3, 13)

In [ ]:
def H(n):
  T = int(input())
  for i in range(n):

    ans= 0
    if n==1:
      ans = 1.000
    elif n==2:
      ans = 1.500
    else:
      ans = 1/n + H(n-1)
    return round(ans, 3)

In [ ]:
H(7)

1
7
1
1
1
1

2.593